<script setup>
import { ref, computed } from 'vue';
import { usePage, Head } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue';

const page = usePage();

const seriesData  = computed(() => {
    let datas = []
    page.props.dataSekolah.forEach((sekolah, s) => {
        if(sekolah.siswas) {
            datas.push(sekolah.siswas.length)
        } else {
            datas.push(0)
        }
    })
    return [{name:'Jumlah Siswa', data: datas}]
})


const chartOptions = computed(() => {
    return { 
        chart: {
            type: 'bar',
            height: 600
        },
        plotOptions: {
            bar: {
                borderRadius: 4,
                horizontal: false,
                columnWidth: '55%',
                endingShape: 'rounded'
            }
        },
        dataLabels: {
            enabled: false
        },
        xaxis: {
            categories: page.props.dataSekolah.map(sekolah => sekolah.name)
        }
    }
})

// const gpais = r
</script>

<template>
    <el-row class="w-full" :gutter="10">
        <el-col :md="24">
            <el-card>
                <template #header>
                    <h3 class="flex items-center">
                        <Icon icon="mdi:city" class="text-lg" />
                        Data Sekolah
                    </h3>
                </template>
                <div class="card-body">
                    <div class="chart w-full">
                        <div id="chart-sekolah">
                            <apexchart type="bar" height="350" :options="chartOptions" :series="seriesData"></apexchart>
                        </div>
                    </div>
                    <div class="tablemax-w-full bg-slate-200">
                        <el-table :data="page.props.sekolahs" :height="400" style="width:100%;" stripe> 
                            <el-table-column fixed width="200" label="Nama Skeolah" prop="name" />
                            <el-table-column  width="100" label="NPSN" prop="npsn" />
                            
                            <el-table-column width="200" label="Alamat" prop="alamat" />
                            <el-table-column width="200" label="Desa" prop="desa" />
                            <el-table-column width="200" label="Email" prop="email" />
                            <el-table-column width="200" label="Kepala Sekolah" prop="nama_ks" />
                            <el-table-column width="200" label="NIP Kepsek" prop="nip_ks" />
                        </el-table>
                    </div>
                </div>
            </el-card>
        </el-col>
        <el-col :md="12">
            <el-card>
                <template #header>
                    <h3 class="flex items-center">
                        <Icon icon="mdi:account-tie" class="text-lg" />
                        Data Guru PAI
                    </h3>
                </template>
                <div class="card-body">
                    <div class="chart w-full">
                        {{ page.props.gurus }}
                    </div>
                </div>
            </el-card>
        </el-col>
    </el-row>
</template>