<script setup>
import { ref, computed, defineAsyncComponent } from 'vue';
import { Head, usePage, Link, router } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue';
const page = usePage();
const sekolah = computed(() => page.props.sekolahs[0])
const sumSiswas = computed(() => {
    return page.props.rombels.reduce((a,r) => a + r.siswas.length, 0)
})
</script>

<template>
    <el-row :gutter="20" class="w-full">
        <el-col :xs="24" :sm="12" :md="6">
            <el-card class="max-h-[400px] overflow-y-auto">
                <div class="card-body " >
                    <el-scrollbar>
                        <el-descriptions :column="1" :size="'small'" border title="Data Sekolah" class="margin-top" >
                            <el-descriptions-item>
                                <template #label>
                                    <div class="cell-item">
                                        NPSN
                                    </div>
                                </template>
                                {{ sekolah.npsn }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Nama Sekolah
                                    </div>
                                </template>
                                {{ sekolah.name }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Alamat
                                    </div>
                                </template>
                                {{ sekolah.alamat }}, {{ sekolah.desa }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Kecamatan
                                    </div>
                                </template>
                                {{ sekolah.kecamatan }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Kabupaten
                                    </div>
                                </template>
                                {{ sekolah.kabupaten }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Kode Pos
                                    </div>
                                </template>
                                {{ sekolah.kode_pos }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        No. Telepon
                                    </div>
                                </template>
                                {{ sekolah.telp }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Email
                                    </div>
                                </template>
                                {{ sekolah.email }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Website
                                    </div>
                                </template>
                                {{ sekolah.website }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        Kepala Sekolah
                                    </div>
                                </template>
                                {{ sekolah.nama_ks }}
                            </el-descriptions-item>
                            <el-descriptions-item >
                                <template #label>
                                    <div class="cell-item">
                                        NIP Kep Sek
                                    </div>
                                </template>
                                {{ sekolah.nip_ks }}
                            </el-descriptions-item>
                        </el-descriptions>
                    </el-scrollbar>
                </div>
            </el-card>
        </el-col>
        <el-col :xs="24" :sm="12" >
            <el-card class="max-h-[400px]">
                <template #header>
                    Data Rombel
                </template>
                <div class="card-body">
                    <el-table :data="page.props.rombels" stripe max-height="300">
                        <el-table-column label="Kode" prop="kode_rombel" />
                        <el-table-column label="Label" prop="label" />
                        <el-table-column label="Laki-laki" >
                            <template #default="scope">
                                <div>
                                    {{ scope.row.siswas.filter(siswa => siswa.jk == 'Laki-laki').length }}
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="Perempuan" >
                            <template #default="scope">
                                <div>
                                    {{ scope.row.siswas.filter(siswa => siswa.jk == 'Perempuan').length }}
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="Jumlah" >
                            <template #default="scope">
                                <div>
                                    {{ scope.row.siswas.length }}
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-card>
        </el-col>
        <el-col :xs="24" :sm="12" :md="6">
            <el-card class="max-h-[400px] overflow-y-auto flex">
                <el-statistic :value="sumSiswas" :value-style="{color: 'teal', fontWeight: 'bold', fontSize: '3rem', fontFamily: 'serif'}">
                    <template #title>
                        <div class="inline-flex items-center gap-1 text-md">
                            Jumlah Siswa
                            <el-tooltip effect="dark" content="Jumlah Seluruh Peserta didik Kelas 1 - 6" placement="top">
                                <el-icon>
                                    <Icon icon="mdi:information-outline" class="text-sky-400 mb-2 cursor-pointer" />
                                </el-icon>
                            </el-tooltip>
                        </div>
                    </template>
                </el-statistic>
                <Icon icon="mdi:human-male-female-child" class="text-8xl text-teal-100" />
            </el-card>
        </el-col>
    </el-row>
</template>