<script setup>
import { ref, computed, defineAsyncComponent } from 'vue';
import { Head, usePage, Link } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue';

const page = usePage();
const mode = ref('index')

// Components
import Dashboard from '@/Layouts/DashboardLayout.vue'
const Jadwal = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Jadwal.vue'))
const Rpe = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Rpe.vue'))
const Protasem = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Protasem.vue'))
const Tp = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Tp.vue'))
// Data  
const selectedRombel = ref({})

// Functions
const noJadwals = (rombel) => (rombel.jadwals.length < 1 || typeof(rombel.jadwals) === 'undefined')
const showComp = (komponen, rombel) => {
    mode.value = komponen
    selectedRombel.value = rombel
}
</script>

<template>
<Dashboard pageTitle="Perencanaan">
    <el-container v-if="page.props.rombels.length > 0">
        <el-row class="w-full" :gutter="20" v-if="mode == 'index'">
            <el-col :xs="24" :sm="8" class="my-3" v-for="(rombel, r) in page.props.rombels" :key="rombel.kode_rombel">
                <el-card >
                    <template #header>
                        <h3 class="font-semibold">Perangkat Perencanaan Kelas {{ rombel.label }}</h3>
                    </template>
                    <div class="card-body">
                            <el-menu>
                                <el-menu-item :index="`jadwal-${r}`" @click="showComp('jadwal', rombel)">
                                    <template #title>
                                        <Icon icon="mdi:calendar" class="text-xl mr-1" /> 
                                        Jadwal Pelajaran
                                    </template>
                                </el-menu-item>
                                <el-menu-item :index="`kaldik-${r}`" @click="showComp('rpe', rombel)" :disabled="noJadwals(rombel)">
                                    <template #title>
                                        <Icon icon="mdi:calendar" class="text-xl mr-1" /> 
                                        Kaldik & RPE <span class="text-red-500" v-if="noJadwals(rombel)">[Buat Jadwal Dulu]</span>
                                    </template>
                                </el-menu-item>
                                <el-menu-item :index="`prota-${r}`" @click="showComp('protasem', rombel)" :disabled="noJadwals(rombel)">
                                    <template #title>
                                        <Icon icon="mdi:calendar-check" class="text-xl mr-1" /> 
                                        Program Tahunan dan Semester <span v-if="noJadwals(rombel)">[Buat Jadwal Dulu]</span>
                                    </template>
                                </el-menu-item>
                                <el-menu-item :index="`tp-${r}`" @click="showComp('tp', rombel)" :disabled="noJadwals(rombel)">
                                    <template #title>
                                        <Icon icon="mdi:bookshelf" class="text-xl mr-1" /> 
                                        TP & ATP <span v-if="noJadwals(rombel)">[Buat Jadwal Dulu]</span>
                                    </template>
                                </el-menu-item>
                                <el-menu-item :index="`peta-${r}`" :disabled="noJadwals(rombel)">
                                    <template #title>
                                        <Icon icon="mdi:timeline-outline" class="text-xl mr-1" /> 
                                        Pemetaan CP <span v-if="noJadwals(rombel)">[Buat Jadwal Dulu]</span>
                                    </template>
                                </el-menu-item>
                                <el-menu-item :index="`ma-${r}`" :disabled="noJadwals(rombel)">
                                    <template #title>
                                        <Icon icon="mdi:library-books" class="text-xl mr-1" /> 
                                        Modul Ajar <span v-if="noJadwals(rombel)">[Buat Jadwal Dulu]</span>
                                    </template>
                                </el-menu-item>
                            </el-menu>
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <el-row class="w-full" v-else>
            <Jadwal v-if="mode == 'jadwal'" :rombel="selectedRombel" @close="mode = 'index'" />
            <Rpe v-if="mode == 'rpe'" :rombel="selectedRombel" @close="mode = 'index'" />
            <Protasem v-if="mode == 'protasem'" :rombel="selectedRombel" @close="mode = 'index'" />
            <Tp v-if="mode == 'tp'" :rombel="selectedRombel" @close="mode = 'index'" />
        </el-row>
    </el-container>
    <el-container class=" h-full flex items-center justify-center" v-else>
        <article class="">
            <h1 class="text-center text-lg font-bold text-sky-800">
                Ada Masalah Nih
            </h1>
            <p>
                Pastikan Anda:
                <ol class="list-decimal">
                    <li>Membuat Rombongan belajar <Link :href="zRoute('rombel')" class="text-red-500 font-semibold italic">Disini</Link></li>
                    <li>Sudah membuat Jadwal Pelajaran <Link :href="zRoute('rencana')" class="text-red-500 font-semibold italic">Disini</Link></li>
                </ol>
            </p>
        </article>
    </el-container>
</Dashboard>
</template>