<script setup>
import { ref, reactive, h, onMounted, onBeforeUnmount } from 'vue';
import { Head, router } from '@inertiajs/vue3'
import { Icon } from '@iconify/vue';
import { Lock, Close, View, User, Unlock, Loading } from '@element-plus/icons-vue'

const emit = defineEmits(['close'])

const formUser = reactive({
    name: '',
    password: ''
})

const user = ref({})

const loading = ref(false)
const username = ref(null)
const onSubmit = async() => {
    loading.value = true
    // showPassword.value = false
    router.post(route('login'), formUser, {
        onError: err => {
            Object.keys(err).forEach(k => {
                ElNotification({title: 'Error', message: h('i', { style: 'color:red'}, err[k])})
            })
            loading.value = false  
            console.log(err) 
        }
    })
}

onMounted(() => {
    let formLogin = document.querySelector("#form-login")
    formLogin.addEventListener("keyup", function(e) {
        if(e.key === 'Enter') {
            onSubmit()
        }
    })
})

onBeforeUnmount(() => {
})
</script>

<template>
    <el-row class="h-full  justify-center" align="middle">
        <el-card class="w-full sm:w-[300px] border rounded-xl">
            <template #header>
                <div class="w-full flex justify-between">
                    <h3 class="flex items-center gap-2">
                        <el-icon :size="32" color="teal" ><Lock /></el-icon>
                        <span class="font-bold pt-1 text-lg text-teal-700">Silahkan Masuk</span>
                    </h3>
                    <el-button :icon="Close" circle type="danger" class="bg-red-400" @click="emit('close')" />
                </div>
            </template>
            <div class="el-card__body">
                <el-form
                    :label-position="'top'"
                    id="form-login"
                >
                    <el-form-item label="Username">
                        <el-input v-model="formUser.name" ref="username" :suffix-icon="User" placeholder="Masukkan Username" clearable autofocus>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="Password">
                        <el-input v-model="formUser.password" type="password" show-password placeholder="Masukkan Password" clearable></el-input>
                    </el-form-item>
                    <el-form-item class="flex justify-center">
                        <el-button type="primary" class="bg-sky-500 mx-auto" :loading="loading" :icon="Unlock" :loading-icon="Loading" @click="onSubmit">Kirim</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    </el-row>
</template>