<script setup>
import { ref, computed, onBeforeMount, defineAsyncComponent } from 'vue'
import { usePage, Head, router } from '@inertiajs/vue3'
import { Icon } from '@iconify/vue'
import axios from 'axios';

const page = usePage()
const Dashboard = defineAsyncComponent(() => import('@/Layouts/DashboardLayout.vue'))

const gurus = computed(() => page.props.gurus)

const dialogGuru = ref(false)
const dialogUser = ref(false)
const loading = ref(false)
const account = ref({})

const addAccount = (guru) => {
    account.value = {
        name: guru.fullname.split(" ")[0].replace(/[.,\s]/g,"").toLowerCase(),
        password: '12345',
        email: guru.fullname.split(" ")[0].replace(/[.,\s]/g,"").toLowerCase()+'@kkgpaiwagir.or.id',
        level: 'gpai',
        guru_id: guru.id
    }
    dialogUser.value = true
}

const createAccount = async() => {
    loading.value = true
    await axios.post(route('guru.create-account'), account.value)
            .then(res => {
                ElNotification({title: 'Info', message: 'Akun dibuat'})
                router.reload()
                dialogUser.value = false
                loading.value = false
            }).catch(err => {
                ElNotification({title: 'Info', message: err.response.data.msg})
                loading.value = false
            })
}

</script>

<template> 
<Dashboard pageTitle="Data Guru">
    <el-container>
        <el-row class="w-full">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        <div class="w-full flex items-center justify-between">
                            <h3 class="flex items-center gap-1">
                                <Icon icon="mdi:account-tie" class="text-lg" />
                                Data Guru
                            </h3>
                            <div class="toolbar-items flex items-center gap-1">
                                <el-button size="small" @click="dialogGuru = true">
                                    <Icon icon="mdi:plus" />
                                </el-button>
                                <el-button size="small">
                                    <Icon icon="mdi:printer" />
                                </el-button>
                            </div>
                        </div>
                    </template>
                    <div class="card-body">
                        <el-table class="w-full" :data="gurus" height="75vh">
                            <el-table-column label="Nama" prop="fullname" fixed width="250" />
                            <el-table-column label="NIP" prop="nip" width="200" />
                            <el-table-column label="JK" prop="jk" width="100" />
                            <el-table-column label="Alamat" prop="alamat" width="200" />
                            <el-table-column label="Sekolah" prop="sekolah.name" width="300" />
                            <el-table-column label="Akun" width="300"  fixed="right">
                                <template #default="scope">
                                    <div class="flex w-full justify-between">
                                        <el-button @click="addAccount(scope.row)" size="small" :type="scope.row.user ? 'danger' : 'primary'">{{ scope.row.user ? scope.row.user.name : 'Buatkan' }}</el-button>
                                        <el-button size="small" v-if="scope.row.user">Reset</el-button>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-container>
    <el-dialog v-model="dialogGuru" title="Form guru">
        
    </el-dialog>
    <el-dialog v-model="dialogUser" title="Form Akun" >
        <el-form v-model="account" :label-position="'left'" label-width="100px">
            <el-form-item label="Username">
                <el-input v-model="account.name" />
            </el-form-item>
            <el-form-item label="Password">
                <el-input v-model="account.password" />
            </el-form-item>
            <el-form-item label="Email">
                <el-input v-model="account.email" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="small" @click="createAccount" :loading="loading">Buat Akun</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</Dashboard>
</template>