<script setup>
import { ref, computed, defineAsyncComponent, onMounted, watch } from 'vue';
import { Head, usePage, router } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue';
import { Search, Delete, Edit, Plus, DocumentAdd, Printer, Close, Loading } from '@element-plus/icons-vue'
import  axios from 'axios';

const page = usePage();

import Dashboard from '@/Layouts/DashboardLayout.vue'
const FormSiswa = defineAsyncComponent(() => import('@/Components/Dashboard/Utama/Rombel/FormSiswa.vue'))
const  activeName = ref(0)


const newrombel = ref({})
const formRombel = ref(false)

const loading = ref(false)

const labels = ref({
    '1' : {label: 'SATU', romawi: 'I'},
    '2' : {label: 'DUA', romawi: 'II'},
    '3' : {label: 'TIGA', romawi: 'III'},
    '4' : {label: 'EMPAT', romawi: 'IV'},
    '5' : {label: 'LIMA', romawi: 'V'},
    '6' : {label: 'ENAM', romawi: 'VI'},

})

const newRombel = () => {
    formRombel.value = !formRombel.value
}

watch(newrombel.value, (newVal, oldVal) => {
    console.log(newVal)
    let pararel = !newVal.pararel || newVal.pararel == '0' ? '' : newVal.pararel
    newrombel.value.kode_rombel = page.props.periode.kode_periode+'-'+page.props.sekolahs[0].npsn+'-'+ newVal.tingkat+pararel
    newrombel.value.label = labels.value[newVal.tingkat].romawi+pararel.toUpperCase() +' '+'('+ labels.value[newVal.tingkat].label+' '+pararel.toUpperCase()+')'
})

const simpanRombel = async() => {
    loading.value = true
    newrombel.value.sekolah_id = page.props.sekolahs[0].npsn
    newrombel.value.guru_id = page.props.user.guru.id
    newrombel.value.periode_id = page.props.periode.kode_periode
    newrombel.value.fase = newrombel.value.tingkat < 2 ? 'A' : (newrombel.value.tingkat < 4 ? 'B' : (newrombel.value.tingkat <= 6 ? 'C' : 'D'))
    await router.post(route('rombel.store', newrombel.value), {}, {
        onSuccess: (page => {
            loading.value = false
            formRombel.value = false
            newrombel.value = {}
            router.reload()
        }),
        onError: (err => {
            loading.value = false
            // console.log(err)
        })
    })
}

const editRombel = async(rombel) => {
    Object.assign(newrombel.value, rombel)
    newrombel.value.pararel =  ['a','b','c','d'].includes(rombel.kode_rombel.substr(-1)) ? rombel.kode_rombel.substr(-1) : '0'
    
    formRombel.value = true
    
}

const removeRombel = async(rombel) => {
    loading.value = true
    await axios.delete(route('rombel.destroy', rombel.id))
    .then(res => {
                    loading.value = false
                    router.reload()
                }).catch(err => {
                    loading.value = false
                    console.log(err)
                })
}

// Tambah Siswa
const formSiswa = ref(null)
const showFormSiswa = ref(false)
const closeFormSiswa = () => {
    router.reload()
    ElNotification({
        title: 'Info',
        message: 'Data Siswa sudah disimpan'
    })
}
const selectedRombel = ref(null)
const tambahSiswa = (item) => {
    formSiswa.value.open(item)
}

// Hapus Peserta
const removeAll = async(rombel) => {
    loading.value = true
    await axios.delete(route('siswa.delete.by-rombel', rombel.kode_rombel))
                .then(res => {
                    loading.value = false
                    router.reload()
                }).catch(err => {
                    loading.value = false
                    console.log(err)
                })
}


onMounted(() => {
    // page.props.myRombels.forEach((rombel, r) => {
    //     datas.value[rombel.kode_rombel] = rombel.siswas.length > 0 ? rombel.siswas : [{nisn: '', nama: '', jk: ''}]
    // })
})

</script>

<template>
<Dashboard pageTitle="Data Rombel">
    <el-container class="bg-pink-100">
        <el-row class="w-full">
            <el-col :span="24">
                <el-card>
                    <div class="body">
                        <el-menu mode="horizontal" :ellipsis="false" class="flex gap-4">
                            <el-menu-item index="0">
                                <h1 class="flex items-center gap-1  text-sky-700">
                                    <Icon icon="mdi:google-classroom" />
                                    <span class="font-semibold">Data Rombel</span>
                                </h1>
                            </el-menu-item>
                            <div class="grow-1"></div>
                            <div class="menu-item h-full  flex items-center" >
                                <el-button type="primary" @click="newRombel" text :icon="Plus">Tambah</el-button>
                            </div>
                        </el-menu>
                        <el-collapse v-model="activeName" accordion>
                            <el-collapse-item v-for="(rombel, r) in page.props.myRombels" :key="r" :name="r" class="group">
                                <template #title>
                                    Data Kelas {{ rombel.label }}
                                    <div class="group-hover:block hidden">
                                        <el-popconfirm :title="`Anda akan menghapus kelas ${rombel.label} beserta data siswa`" @confirm.stop="removeRombel(rombel)" class="hidden">
                                            <template #reference>
                                                <el-button size="small" text type="danger" class="hidden">Hapus?</el-button>
                                            </template>
                                        </el-popconfirm>
                                        <el-button size="small" text type="primary" class="hidden" @click.stop="editRombel(rombel)">Edit?</el-button>
                                    </div>
                                </template>
                                <div >
                                        <el-row class="w-full">
                                            <el-col :span="24" class="px-3">
                                                <el-button-group>
                                                    <el-tooltip content="Tambah baru" placement="top">
                                                        <template #default>
                                                            <span>
                                                                <el-button :icon="Plus" type="primary" @click="tambahSiswa(rombel)" size="small"></el-button>
                                                            </span>
                                                        </template>
                                                    </el-tooltip>
                                                    <el-tooltip content="Hapus semua" placement="top">
                                                        <template #default>
                                                            <span>
                                                                <el-popconfirm :title="`Anda akan menghapus semua siswa di kelas ${rombel.label}`" @confirm="removeAll(rombel)">
                                                                    <template #reference>
                                                                        <el-button :icon="Delete" type="danger" size="small" ></el-button>
                                                                    </template>
                                                                </el-popconfirm>
                                                            </span>
                                                        </template>
                                                    </el-tooltip>
                                                </el-button-group>
                                                <el-button-group class="ml-4">
                                                    <el-tooltip content="Cetak" placement="top">
                                                        <el-button :icon="Printer" size="small"></el-button>
                                                    </el-tooltip>
                                                </el-button-group>
                                            </el-col>
                                        </el-row>
                                        <el-row class="w-full">
                                            <el-col :span="24">
                                                <el-table :data="rombel.siswas" class="w-[100%] " height="400px" stripe>
                                                    <el-table-column prop="nisn" label="NISN" />
                                                    <el-table-column prop="nama" label="Nama" />
                                                    <el-table-column prop="jk" label="JK" />
                                                    <el-table-column label="Opsi" fixed="right">
                                                        <template #default="scope">
                                                            <el-popover  placement="top-start">
                                                                <small>Edit Data {{ scope.row.nama }}</small>
                                                                <template #reference>
                                                                    <el-button type="" size="small" :icon="Edit">Edit</el-button>
                                                                </template>
                                                                
                                                            </el-popover>
                                                            <el-popover  placement="top-start">
                                                                <small>Hapus Data {{ scope.row.nama }}</small>
                                                                <template #reference>
                                                                    <el-button type="danger" size="small" :icon="Close">Hapus</el-button>
                                                                </template>
                                                                
                                                            </el-popover>
                                                        </template>
                                                    </el-table-column>
                                                </el-table> 
                                            </el-col>
                                        </el-row>
                                </div>    
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                </el-card>
                
            </el-col>
        </el-row>
    </el-container>

    <!-- Dialog -->
    <el-dialog v-model="formRombel" :title="`Formulir Rombel ${newrombel.label ?? ''}`" :draggable="true" width="400px" center @close="newrombel = {}">
        <el-form :model="newrombel" label-width="100px">
            <el-form-item label="Tingkat">
                <el-select v-model="newrombel.tingkat" placeholder="Tingkat">
                    <el-option v-for="l in 6 " :key="l" :value="l" :label="`Kelas ${l}`" />
                </el-select>
            </el-form-item>
            <el-form-item label="Pararel">
                <el-select v-model="newrombel.pararel" placeholder="Pararel">
                    <el-option v-for="p in ['0', 'a','b','c','d'] " :key="p" :value="p" :label="p.toUpperCase()" />
                </el-select>
            </el-form-item>
            <el-form-item label="Kurikulum">
                <el-select v-model="newrombel.kurikulum" placeholder="Kurikulum">
                    <el-option v-for="k in ['k13','merdeka'] " :key="k" :value="k" :label="k.toUpperCase()" />
                </el-select>
            </el-form-item>
            <el-form-item label="Label">
                <el-input type="text" placeholder="Label" v-model="newrombel.label" readonly />
            </el-form-item>
            <el-form-item label="Kode">
                <el-input type="text" placeholder="Kode" v-model="newrombel.kode_rombel" readonly />
            </el-form-item>
            <el-form-item>
                <el-popover placement="bottom-end">
                    <small>Simpan Rombel Baru</small>
                    <template #reference>
                        <el-button type="primary" @click="simpanRombel" :loading="loading">Simpan</el-button>
                    </template>
                </el-popover>
                <el-popover placement="bottom-end">
                    <small>Batal</small>
                    <template #reference>
                        <el-button type="" @click="formRombel = false; newrombel = {};">Batal</el-button>
                    </template>
                </el-popover>
            </el-form-item>
        </el-form>
    </el-dialog>

    <FormSiswa ref="formSiswa" @close="closeFormSiswa" />
</Dashboard>
</template>