<script setup>
import { ref, computed, defineAsyncComponent } from 'vue';
import { Head, usePage, router } from '@inertiajs/vue3';

import DashboardLayout from '@/Layouts/DashboardLayout.vue'
const page = usePage();
</script>

<template>
<DashboardLayout>
    <Head title="Data Sekolah" />
    <p>{{ page.props.sekolahs[0] }}</p>
</DashboardLayout>
</template>