<script setup>
import { usePage, Link } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue';
import { Back } from '@element-plus/icons-vue'

const page = usePage();
</script>

<template>
    <el-container class="w-full h-screen bg-red-50">
        <el-header class="bg-slate-300 flex items-center justify-between">
            <Link href="/">
                <el-icon :size="24"><Back /></el-icon>
            </Link>
        </el-header>
        <el-row class="h-full w-full" align="middle" justify="center">
            <h1 class="text-2xl text-center mx-8">
                <Icon icon="mdi:alert-box" width="64" class="text-red-400 mx-auto animate-bounce" />
                File <span class="font-black text-slate-700">"{{ page.component }}"</span> belum dibuat
            </h1>
        </el-row>
    </el-container>
</template>