<script setup>
import { ref, defineAsyncComponent } from 'vue';
import { Head, usePage, Link } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue';

const Agenda = defineAsyncComponent(() => import('@/Components/General/Agenda.vue'))
const FormLogin = defineAsyncComponent(() => import('@/Components/Auth/FormLogin.vue'))

const mode = ref('kaldik')

const page = usePage();
// ElPLus
</script>
<template>
<div class="common-layout min-h-screen" style="background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(168,253,45,1) 100%)">
    <el-container class="h-screen">
        <el-header justify="center" class=" sticky top-0 z-20">
            <el-row justify="space-between" align="middle" class="h-full">
                <span>Perangkat</span>
                <span>
                    <el-button circle type="" link v-if="!page.props.user" @click="mode = 'login'">
                        <Icon icon="mdi:login" width="24" class="text-white" />
                    </el-button>
                    <Link href="/beranda" v-else>
                        <Icon icon="mdi:view-dashboard" width="24" class="text-white" />
                    </Link>
                </span>
            </el-row>
        </el-header>
        <el-main class="h-90vh bg-teal-50">
            <el-row align="middle" justify="center" class="h-full ">
                <div class="w-full sm:w-auto">
                    <Agenda v-if="mode == 'kaldik'" />
                    <FormLogin v-else-if="mode == 'login'" @close="mode = 'kaldik' "/>
                </div>
            </el-row>
        </el-main>
    </el-container>
</div>
</template>


<style>

</style>