<script setup>
import { ref, computed, defineAsyncComponent } from 'vue';
import { Head, usePage, Link, router } from '@inertiajs/vue3'

const page = usePage()
import DashboardLayout  from '@/Layouts/DashboardLayout.vue'

const Gpai = defineAsyncComponent(() => import('@/Components/Dashboard/Home/gpai.vue'))
const komponen = computed(() => {
    return defineAsyncComponent(() => import(`../../Components/Dashboard/Home/${page.props.user.level}.vue`))
})



</script>

<template>
    <dashboard-layout>
        <el-container>
            <!-- <Gpai /> -->
            <component :is="komponen"></component>
        </el-container>
    </dashboard-layout>
</template>