<script setup>
import { ref, computed, onBeforeMount, onBeforeUnmount, onMounted } from 'vue'
import { usePage } from '@inertiajs/vue3'
import { Icon } from '@iconify/vue'
import { uppercase, weekPerSemester, capitalize } from '@/Plugins/helper';
import axios from 'axios'
import dayjs from 'dayjs';
dayjs.locale("id")

const page = usePage()
const props = defineProps({ rombel: Object, pembelajarans: Array, cps: Array })
const emit = defineEmits(['close'])

// Data
const months = computed(() => {
    let bulans = dayjs.months()
    let monthOfSemester = bulans.slice((page.props.periode.semester == '2' ? 0 : 6),(page.props.periode.semester == '2' ? 6 :12 ))
    return monthOfSemester
})

const cps = ref([])
const prosems = ref([])
const learnings = computed(() => {
    if (prosems.value.length > 0 ) { return prosems.value.length}
    else { 
        return weekPerSemester(months.value, props.rombel.jadwals[0].hari)
    }
})

// Function
const init = async() => {
    await axios.post(route('pembelajaran.index', {
                rombel: props.rombel.kode_rombel
            })).then(res => {
                cps.value = res.data.cps
                res.data.pembelajarans.forEach((pbl, p) => {
                    pbl.materis.forEach((mt, m) => {
                        if(mt.prosems.length > 0) {
                            prosems.value.push(mt.prosems[0])
                        }
                    })
                })
            })
}

const cetak = () => {
    let paper = document.querySelector(".card-body")
    let cssLink = (page.props.app_env == 'local') ? 'http://localhost:5173/resources/css/app.css' : '/build/assets/app.css'
    let tailwinCss = import('../../../../css/app.css')
    let win = window.open("","_blank","width=1024,height=700")
    let html = `
        <!doctype html>
        <html>
            <head>
                <title>Daftar Hadir Siswa ${props.rombel.label} | ${page.props.sekolahs[0].name}</title>
                <link rel="stylesheet" href="${cssLink}" />
                <style>
                    .border {border: 1px solid black;}
                    .text-center { text-align:center;}
                </style>
            </head>
            <body>
                ${paper.outerHTML}
                <table style="margin-top: 70px;width:100%;">
                    <tr>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.sekolahs[0].nama_ks}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.sekolahs[0].nip_ks}</p>    
                        </td>
                        <td style="text-align: center;width: 33%;">
                        </td>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">${capitalize(page.props.sekolahs[0].kecamatan)}, .................</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Guru PAI</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.user.guru.fullname}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.user.guru.nip}</p>    
                        </td>
                    </tr>
                </table>    
            </body>
        </html>
    `

    win.document.write(html)
    setTimeout(() => {
        win.print()
        // win.close()
    }, 500)
    
}

const rombel = ref(null)

const overrideShortCut = (e) => {
    // console.log(e)
    if (e.key == 'p' && (e.ctrlKey || e.metaKey)) {
        e.preventDefault()
        cetak()
    }
}

onMounted(() => {
    init()
    rombel.value = props.rombel
    if(props.rombel.siswas.length < 1 ) {
        let siswas = []
        for (let s = 0; s < 50; s++) {
            siswas.push({nisn: '', nama: '', jk: ''})
        }
        rombel.value.siswas = siswas
    }
    document.addEventListener('keydown', overrideShortCut)
})

onBeforeUnmount(() => {
    document.removeEventListener('keystroke', overrideShortCut)

})
</script>

<template>
    <el-row class="w-full" justify="center">
        <el-col :xs="24">
            <el-card class="w-full">
                <template #header>
                    <div class="w-full flex items-center justify-between print:hidden" >
                        <h3 class="font-bold">Presensi Siswa Kelas {{ props.rombel.label }}</h3>
                        <div class="toolbar-items flex items-center justify-center gap-2">
                            <el-button size="small" type="primary" class="bg-sky-500" @click="cetak">
                                <Icon icon="mdi:printer" />
                            </el-button>
                            <el-button circle size="small" type="danger" class="bg-red-400" @click="emit('close')">
                                <Icon icon="mdi:close" />
                            </el-button>
                        </div>
                    </div>
                </template>
                <div class="card-body">
                    <h3 class="text-center font-bold">DAFTAR HADIR SISWA</h3>
                    <h3 class="text-center font-bold">{{ uppercase(page.props.periode.deskripsi) }}</h3>
                    <h2 class="text-center font-bold">{{ uppercase(page.props.sekolahs[0].name) }}</h2>
                    

                    <table class="mt-6">
                        <tr>
                            <td>Mata Pelajaran</td>
                            <td>:</td>
                            <td>Pendidikan Agama Islam</td>
                        </tr>
                        <tr>
                            <td>Kelas</td>
                            <td>:</td>
                            <td>{{ props.rombel.label }}</td>
                        </tr>
                    </table>
                    <table class="mt-3 w-full text-xs" border="1" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th class="text-center border border-black w-[30px]"  rowspan="3">No</th>
                                <th class="text-center border border-black w-[50px]"  rowspan="3">NISN</th>
                                <th class="text-center border border-black"  rowspan="3">Nama Siswa</th>
                                <th class="text-center border border-black w-[30px]"  rowspan="3">JK</th>
                                <th class="text-center border border-black" :colspan="learnings">{{ months }}</th>
                                <th class="text-center border border-black"  rowspan="2" colspan="3">Keterangan</th>
                            </tr>
                            <tr>
                                <th class="text-center border border-black" :colspan="learnings">Tanggal/Pertemuan</th>
                            </tr>
                            <tr>
                                <th v-for="(learning, l) in learnings" :key="l" class="border border-black text-[0.5rem] w-[30px]">
                                    <span v-if="prosems.length > 0"> {{ dayjs(prosems[l].tanggal).format('DD/MM') }}</span>
                                    <span v-else> {{ l+1 }}</span>
                                </th>
                                <th class="text-center border border-black">S</th>
                                <th class="text-center border border-black">I</th>
                                <th class="text-center border border-black">A</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(siswa, s) in props.rombel.siswas" :key="s" class="even:bg-slate-100">
                                <td class="text-center border border-black px-2">{{ s+1 }}</td>
                                <td class="text-center border border-black px-2 ">{{ siswa.nisn }}</td>
                                <td class="border border-black px-2">{{ siswa.nama }}</td>
                                <td class="text-center border border-black px-2">{{ siswa.jk.substr(0,1) }}</td>
                                <td v-for="(learning, l) in learnings" :key="l" class="border border-black text-xs">
                                </td>
                                <td class="border border-black px-2"></td>
                                <td class="border border-black px-2"></td>
                                <td class="border border-black px-2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-card>
        </el-col>
    </el-row>
</template>