<script setup>
import { ref, computed, onMounted } from 'vue';
import { Head, usePage, router } from '@inertiajs/vue3';
import axios from 'axios'
const page = usePage();

const kaldiks = ref([])
const init = async() => {
    await axios.post(route('kaldik.index'))
                .then(res => {
                    kaldiks.value = res.data.kaldiks
                }).catch(err => console.log(err))
                
}

const attributes = computed(() => {
    let dates = []
    kaldiks.value.forEach((kal, k) => {
        dates.push({
            key: Array.from(Array(20), () => Math.floor(Math.random() * 36).toString(36)).join(''),
            highlight: kal.color,
            dates: {start: kal.start, end: kal.end},
            popover: { label: kal.description + " " +kal.color, }
        })
    })


    return dates;
})

const viewPort = computed(() => {
    if (window.matchMedia('(min-width: 1280px)').matches) {
        return 'xl';
    } else if (window.matchMedia('(min-width: 1024px)').matches) {
        return 'lg';
    } else if (window.matchMedia('(min-width: 768px)').matches) {
        return 'md';
    } else if (window.matchMedia('(min-width: 640px)').matches) {
        return 'sm';
    } else {
        return 'default';
    }
})

const month = ref(null)

const onPageMove = (Page) => {
    month.value = Page[0].month
}

const monthEvents = computed(() => {
    if ( ['lg','xl'].includes(viewPort.value)) {
        return kaldiks.value
    } else {
        if(month.value == null ) {
            return kaldiks.value.filter((kaldik, k) => kaldik.start.split("-")[1] == '01')
        } else {
            return kaldiks.value.filter((kaldik, k) => parseInt(kaldik.start.split("-")[1]) === month.value )
        }
    }
})

const tableRowClassName = ({row, index}) => {
    return row.color
}
onMounted(() => {
    init()
})
</script>

<template>
    <div class="flex justify-center">
        <v-calendar class="mx-auto w-full border" :expanded="['default','sm','md'].includes(viewPort)" :rows="(['default','sm'].includes(viewPort)) ? 1 : 2" :columns="(['default','sm'].includes(viewPort)) ? 1 : 3" :min-date="page.props.periode.start" :max-date="page.props.periode.end" :attributes="attributes" @did-move="onPageMove">
            <template #footer>
                <el-container>
                    <el-card class="w-full ">
                        <template #header>
                            <h1 class="font-bold">Data Kegiatan</h1>
                        </template>
                        <div class="w-full">
                            <el-table :data="monthEvents" style="width:100%" :row-class-name="tableRowClassName">
                                <el-table-column prop="start" label="Tanggal" />
                                <el-table-column prop="description" label="Agenda" />
                            </el-table>
                        </div>
                    </el-card>
                </el-container>
            </template>
        </v-calendar>
    </div>
</template>

<style>
    table.el-table__body tbody tr.el-table__row.red {
        color: red;
        background: rgb(255, 248, 248);
    }
    table.el-table__body tbody tr.el-table__row.teal {
        color: teal;
        background: rgb(248, 255, 255);
    }
</style>