<script setup>
import { ref, computed, defineAsyncComponent } from 'vue';
import { Head, usePage, Link } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue';

const page = usePage();
const mode = ref('index')
// Components
import Dashboard from '@/Layouts/DashboardLayout.vue'
const Presensi = defineAsyncComponent(() => import('@/Components/Dashboard/Pelaksanaan/Presensi.vue'))
// Data  
const selectedRombel = ref({})

// Functions
const showComp = (komponen, rombel) => {
    selectedRombel.value = rombel
    mode.value = komponen
}
</script>

<template>
<Dashboard pageTitle="Perencanaan">
    <el-container v-if="page.props.rombels.length > 0">
        <el-row class="w-full" :gutter="20" v-if="mode == 'index'">
            <el-col :xs="24" :sm="8" class="my-3" v-for="(rombel, r) in page.props.rombels" :key="rombel.kode_rombel">
                <el-card >
                    <template #header>
                        <h3 class="font-semibold">Perangkat Pelaksanaan Pembelajaran Kelas {{ rombel.label }}</h3>
                    </template>
                    <div class="card-body">
                            <el-menu>
                                <el-menu-item :index="`jurnal-${r}`" @click="showComp('jurnal', rombel)">
                                    <template #title>
                                        <Icon icon="mdi:file-document-edit" class="text-xl mr-1" /> 
                                        Jurnal Pelajaran
                                    </template>
                                </el-menu-item>
                                <el-menu-item :index="`presensi-${r}`" @click="showComp('presensi', rombel)">
                                    <template #title>
                                        <Icon icon="mdi:file-document-check-outline" class="text-xl mr-1" /> 
                                        Presensi Siswa
                                    </template>
                                </el-menu-item>
                            </el-menu>
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <el-row class="w-full" v-else>
            <Presensi v-if="mode == 'presensi'" :rombel="selectedRombel" @close="mode = 'index'" />
        </el-row>
    </el-container>
    <el-container class=" h-full flex items-center justify-center" v-else>
        <article class="">
            <h1 class="text-center text-lg font-bold text-sky-800">
                Ada Masalah Nih
            </h1>
            <p>
                Pastikan Anda:
                <ol class="list-decimal">
                    <li>Membuat Rombongan belajar <Link :href="zRoute('rombel')" class="text-red-500 font-semibold italic">Disini</Link></li>
                    <li>Sudah membuat Jadwal Pelajaran <Link :href="zRoute('rencana')" class="text-red-500 font-semibold italic">Disini</Link></li>
                </ol>
            </p>
        </article>
    </el-container>
</Dashboard>
</template>