<script setup>
import { ref } from 'vue';
import { usePage, router } from '@inertiajs/vue3'
import { Search, Delete, Edit, Plus, DocumentAdd, Printer, Close, Loading, Promotion } from '@element-plus/icons-vue'
import {read, utils} from 'xlsx'
import axios from 'axios'

const page = usePage()

const emit = defineEmits(['close'])
const show = ref(false)

const rombel = ref({})
const siswas = ref([])

const open = async (item) => {
    rombel.value = item
    show.value = true

}

const close = () => {
    show.value = false
}


// Vue Excel Editor
const fileSiswa = ref(null)
const sheetSiswa = ref(null)
const newRec = () => {
    // sheetSiswa.val.newRecord({nisn: 'nisn ', nama: 'Nama Siswa', jk: ''})
    console.log(sheetSiswa.value.newRecord())
}

const onFilePicked = async (e) => {
    const file = e.target.files[0]
    const ab = await file.arrayBuffer();

    const wb = read(ab);

    const ws = wb.Sheets[wb.SheetNames[0]];
    const data = utils.sheet_to_json(ws)

    siswas.value = data

}

const removeSelected = () => {
    sheetSiswa.value.deleteSelectedRecords()
}

// Kirim Data
const loading = ref(false)
const send = async() => {
    loading.value = true
    axios.post(route('rombel.impor-siswa'), {
        data: siswas.value,
        rombel_id: rombel.value.kode_rombel,
        sekolah_id: page.props.sekolahs[0].npsn
    }).then(res => {
        router.reload({only: ['rombels']})
        emit('close')
        close()
    }).catch(err => {
        loading.value = false
        console.log(err)
    })
}

defineExpose({ open })
</script>

<template>
<div>
    <el-dialog center v-model="show" title="Formulir Rombel" :draggable="true" :show-close="true">
        <template #header="{close, titleId, titleClass}">
            <div class="header flex justify-between">
                <h4 :id="titleId" :class="titleClass">
                    Tambah Siswa ke Kelas {{ rombel.label }} - {{ rombel.kode_rombel }}
                </h4>
            </div>
        </template>
        <div class="card-body w-full">
            <el-row justify="space-between">
                <el-button-group class="mb-4">
                    <el-popover placement="top">
                        <small>Tambah Siswa</small>
                        <template #reference>
                            <el-button type="primary" @click="newRec" size="small">
                                <el-icon><Plus /></el-icon>
                            </el-button>
                        </template>
                    </el-popover>
                    <el-popover placement="top">
                        <small>Impor dari Excel</small>
                        <input ref="fileSiswa" type="file" class="hidden" accept=".xlsx, .ods, .csv" @change="onFilePicked" />
                        <template #reference>
                            <el-button type="primary" @click="fileSiswa.click()" size="small">
                                <el-icon><DocumentAdd /></el-icon>
                            </el-button>
                        </template>
                    </el-popover>
                    <el-popover placement="top">
                        <small>Hapus Data Terpilih</small>
                        <template #reference>
                            <el-button type="danger" @click="removeSelected" size="small">
                                <el-icon><Delete /></el-icon>
                            </el-button>
                        </template>
                    </el-popover>
                </el-button-group>

                <el-button size="small" type="primary" :icon="Promotion" @click="send" :loading="loading">Kirim</el-button>
            </el-row>
            <el-row class="w-full bg-pink-200">
                <vue-excel-editor v-model="siswas" width="100%" ref="sheetSiswa" style="width: 100%!important; background: teal;" class="sheet-siswa">
                    <vue-excel-column :autoFillWidth="true" field="nisn" label="NISN" type="string" />
                    <vue-excel-column :autoFillWidth="true" field="nama" label="Nama" type="string" />
                    <vue-excel-column :autoFillWidth="true" field="jk" label="JK" type="select" :options="['Laki-laki', 'Perempuan']" />
                </vue-excel-editor>
            </el-row>
        </div>
    </el-dialog>
</div>
</template>

<style scoped>
    .sheet-siswa .component-content {
        width: 100%!important;
    }
</style>