<script setup>
import { ref, computed, onBeforeMount } from 'vue'
import { usePage, router } from '@inertiajs/vue3'
import { Icon } from '@iconify/vue'
import axios from 'axios';

const page = usePage()
const props = defineProps({mine: Boolean, rombel: Object, cp: String, cps: Array,})

const loading = ref(false)
const tpsShown = ref(false)
const atps = ref([])
const selectedAtp = ref({})
const selectedIndex = ref(null)
const cps = ref([])
const selectedCp = ref(null)
const selectedCpIndex = ref(null)
const activeCollapse = ref('')
const tps = computed(() => {
    return selectedCpIndex.value ==null ? cps.value.reduce((a,c) => [...a, ...c.tps],[]) : cps.value[selectedCpIndex.value].tps
})
// Functions
const newAtp = (cp, c) => {
    cps.value[c].atps.push({
        kode: '',
        tps: ''
    })
}

const kode = (code) => {
    let kodeAsli = code.split("-")
    let kode = (props.mine ? code.split("-")[1] : code.split("-")[0])+kodeAsli[kodeAsli.length-1]
    return kode.toUpperCase()
}

const addTp = (cp, c, atp, index) => {
    selectedCp.value = cp
    selectedCpIndex.value = c
    tpsShown.value = true
    selectedAtp.value = atp
    selectedIndex.value = index
}

const addToAtp = (row) => {
    // console.log(row)
    cps.value[selectedCpIndex.value].atps[selectedIndex.value].tps += `<li>${kode(row.kode)+'. '+row.teks}</li>`
}

const cetak = () => {
    let cssLink = (page.props.app_env == 'local') ? 'http://localhost:5173/resources/css/app.css' : '/build/assets/app.css'
    let tableAtps = document.querySelectorAll(".table-atp")
    let content = ''
    for(let tb=0;tb < tableAtps.length; tb++) {
        content += `
                <article class="mb-6">
                <h3 class="text-xl font-bold">Elemen: ${cps.value[tb].elemen}</h3>
                ${tableAtps[tb].outerHTML}
            </article>
        `
    }
    let html = `
            <!doctype html>
            <html>
                <head>
                    <title>Alur Tujuan Pemebelajaran</title>
                    <link rel="stylesheet" href="${cssLink}" />
                </head>
                <body>
                    <h3 class="text-center font-bold uppercase">Alur Tujuan Pembalajaran (ATP)</h3>
                    
                    <table>
                        <tr>
                            <td>Satuan Pendidikan</td>
                            <td>:</td>
                            <td>${page.props.sekolahs[0].name}</td>
                        </tr>
                        <tr>
                            <td>Nama Penyusun</td>
                            <td>:</td>
                            <td>${page.props.user.guru.fullname}</td>
                        </tr>
                        <tr>
                            <td>Fase</td>
                            <td>:</td>
                            <td>${props.rombel.fase}</td>
                        </tr>
                    </table>
                    <p class="my-2"><span class="font-bold">Capaian Pembelajaran</span>: ${props.cp}</p>

                    ${content}

                    <table style="margin-top: 70px;width:100%;">
                    <tr>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.sekolahs[0].nama_ks}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.sekolahs[0].nip_ks}</p>    
                        </td>
                        <td style="text-align: center;width: 33%;">
                        </td>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.user.guru.fullname}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.user.guru.nip}</p>    
                        </td>
                    </tr>
                </table>
                </body>
            </html>
    `

    let win = window.open("", "_blank", "width=1024, height=700")
    win.document.write(html)
    
    setTimeout(() => {
        win.print()
        win.close()
    }, 1500)
}

const simpan  =async(c) => {
    loading.value = true
    let data = {
        rombel_id: props.rombel.kode_rombel,
        cp_id: cps.value[c].kode,
        guru_id: props.mine ? page.props.user.guru.nip : null,
        atps: cps.value[c].atps
    }
    await axios.post(route('atp.store'), {data: JSON.stringify(data)})
                .then(res => {
                    ElNotification({title: "Info", message: "ATP Disimpan"})
                    router.visit('/rencana/tp?rombel_id='+page.props.rombel.kode_rombel+"&mine="+props.mine, {only: ['cps'], preserveState: true, preserveScroll: true})
                })
}

onBeforeMount(() => {
    // tps.value = props.tps

    page.props.cps.forEach((cp,c) => {
        cp.atps = cp.atps ?? []
        cps.value.push(cp)
    })
})
defineExpose({cetak})
</script>

<template>
    <div>
        <el-row class="w-full">
            <el-col :span="24" class="transition-all">
                <el-collapse v-model="activeCollapse" accordion>
                    <el-collapse-item v-for="(cp,c) in cps" :key="cp.kode" :name="cp.kode">
                        <template #title>
                            <h3>{{ cp.elemen }}</h3>
                        </template>
                        <div class="el-collapse-body">
                            <el-button-group class="mb-2">
                                <el-tooltip content="Tambah ATP">
                                    <el-button @click="newAtp(cp,c)" >
                                        <Icon icon="mdi:plus" class="font-bold text-lg" />
                                        Tambah
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip content="Simpan ATP">
                                    <el-button  @click="simpan(c)">
                                        <Icon icon="mdi:floppy" class="font-bold text-lg" />
                                        Simpan
                                    </el-button>
                                </el-tooltip>
                            </el-button-group>
                            <el-scrollbar>
                            <table class="w-full table-atp">
                                <thead>
                                    <tr>
                                        <th class="border text-center text-sm w-[2%] py-2 print:hidden">
                                            <el-tooltip content="Tambah TP">
                                                <Icon icon="mdi:plus" class="mx-auto" />
                                            </el-tooltip>
                                        </th>
                                        <th class="border text-sm w-[4%] py-2 bg-slate-100">ALUR</th>
                                        <th class="border text-sm w-[40%] py-2 bg-slate-200">TP</th>
                                        <th class="border text-sm py-2 bg-slate-100">MATERI</th>
                                        <th class="border text-sm py-2 bg-slate-200">KELAS</th>
                                        <th class="border text-sm py-2 bg-slate-100">ALOKASI</th>
                                        <th class="border text-sm py-2 bg-slate-200">SEMESTER</th>
                                        <th class="border text-sm w-[20%] py-2 bg-slate-100">ASESMEN</th>
                                        <th class="border text-sm py-2 bg-slate-200">MODUL AJAR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(atp, at) in cp.atps" :key="at">
                                        <td class="border text-sm w-[3%] text-center print:hidden">
                                            <el-tooltip content="Tambah TP">
                                                <el-button circle  size="small" @click="addTp(cp, c, atp, at)">
                                                    <Icon icon="mdi:plus" />
                                                </el-button>
                                            </el-tooltip>
                                        </td>
                                        <td class="border text-sm w-[4%] text-center">{{ at+1 }}</td>
                                        <td class="border text-sm w-[40%] bg-slate-100 px-2">
                                            <ol v-html="cps[c].atps[at].tps"></ol>
                                        </td>
                                        <td class="border text-sm px-2">
                                            <el-input type="textarea" v-model="cps[c].atps[at].materi" placeholder="Materi" class="print:hidden" />
                                            <span class="hidden print:block">
                                                {{ cps[c].atps[at].materi }}
                                            </span>
                                        </td>
                                        <td class="border text-sm bg-slate-100 print:text-center">
                                            <el-select class="print:hidden" placeholder="Kelas" v-model="cps[c].atps[at].tingkat">
                                                <el-option v-for="kelas in ['I','II','III','IV','V','VI']" :key="kelas" :value="kelas">{{ kelas }}</el-option>
                                            </el-select>
                                            <span class="hidden print:block">{{ cps[c].atps[at].tingkat }}</span>
                                        </td>
                                        <td class="border text-sm print:text-center px-2">
                                            <el-input type="number" max="4" placeholder="AW" v-model="cps[c].atps[at].aw" class="print:hidden" />
                                            <span class="hidden print:block">{{ cps[c].atps[at].aw }} JP</span>
                                        </td>
                                        <td class="border text-sm bg-slate-100 print:text-center">
                                            <el-select class="print:hidden" placeholder="Semester" v-model="cps[c].atps[at].semester">
                                                <el-option v-for="semester in ['I','II']" :key="semester" :value="semester">{{ semester }}</el-option>
                                            </el-select>
                                            <span class="hidden print:block">{{ cps[c].atps[at].semester }}</span>
                                        </td>
                                        <td class="border text-sm w-[20%] px-2" >
                                            <el-input type="textarea" v-model="cps[c].atps[at].asesmen" placeholder="Isi rencana asesmen" class="print:hidden"></el-input>
                                            <span class="hidden print:block">{{ cps[c].atps[at].asesmen }}</span>
                                        </td>
                                        <td class="border text-sm bg-slate-100 print:text-center">
                                            <!-- <el-input type="textarea" v-model="cps[c].atps[at].ma?.kode" placeholder="Isi Kode Modul Ajar" class="print:hidden"></el-input>
                                            <span class="hidden print:block">{{ cps[c].atps[at].ma?.kode }}</span> -->
                                            {{ cps[c].atps[at].ma?.kode }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </el-scrollbar>
                        </div>
                    </el-collapse-item>
                </el-collapse>
            </el-col>
        </el-row>

        <!-- Dialog TP -->
        <el-dialog v-model="tpsShown" center :draggable="true">
            <template #header>
                <h3 class="text-2xl font-bold text-slate-700">Tujuan Pembelajaran</h3>
            </template>
            <div class="dialog-body">
                <h3 class="font-semibold mb-4 text-xl">Elemen: {{ selectedCp.elemen }}</h3>
                <el-table :data="tps">
                    <el-table-column width="100" label="Kode" prop="kode" />
                    <el-table-column label="Teks" prop="teks" />
                    <el-table-column width="100" label="Opsi">
                        <template #default="scope">
                            <el-tooltip content="Masukkan ke ATP" placement="top-end">
                                <el-button circle @click="addToAtp(scope.row)">
                                    <Icon icon="mdi:plus" />
                                </el-button>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                </el-table>
            </div> 
        </el-dialog>
    </div>
</template>