<script setup>
import { ref, computed, onBeforeMount } from 'vue';
import { usePage, router } from '@inertiajs/vue3'
import { Icon } from '@iconify/vue'
import axios from 'axios';
import dayjs from 'dayjs'
import LocaleData from 'dayjs/plugin/localeData';
import 'dayjs/locale/id'
dayjs.extend(LocaleData)
dayjs.locale("id")

import * as _ from 'lodash'

const props = defineProps({ rombel: Object })
const emit = defineEmits(['close'])
const page = usePage()

const loading = ref(false)
const jadwals = ref([])
const tableJadwals = computed(() => {
    return _.groupBy(jadwals.value, 'hari')
})

const newJadwal = ref({})
const waktus = computed(() => {
   let list = []
   let start = dayjs().set('hour', 7).set('minute', 0)
   for( let i =0;i<12;i++ ) {
       list.push({waktu: start.add((30 * i), 'minute').format('HH.mm'), jamke: i+1})
   }

   return list
})
const haris = computed(() => dayjs.weekdays())

const formJadwal = ref(false)

const init = async() => {
    await axios.post(route('jadwal.index')).then(res => {
            jadwals.value = res.data.jadwals
        }).catch(err => {
            console.log(err)
        })
}

const cetak = () => {
    let paper = document.querySelector(".card-body")
    let cssLink = (page.props.app_env == 'local') ? 'http://localhost:5173/resources/css/app.css' : '/build/assets/app.css'
    let win = window.open("","_blank","width=1024,height=700")
    let html = `
        <!doctype html>
        <html>
            <head>
                <title>Daftar Hadir Siswa #{page.props.sekolahs[0].name}</title>
                <link rel="stylesheet" href="${cssLink}" type="text/css" />
            </head>
            <body>
                ${paper.outerHTML}    
            </body>
        </html>
    `

    win.document.write(html)
    setTimeout(() => {
        win.print()
        win.close()
    }, 500)
}

const simpanJadwal = async() => {
    loading.value = true
    newJadwal.value.rombel_id = props.rombel.kode_rombel
    newJadwal.value.guru_id = page.props.user.guru.id
    newJadwal.value.sekolah_id = page.props.sekolahs[0].npsn
    // jadwals.value.push(newJadwal.value)
    await axios.post(route('jadwal.store'), {jadwal: newJadwal.value})
                .then(res => {
                    loading.value = false
                    init()
                    ElNotification({title: 'Info', message: 'Jadwal baru ditambahkan'})
                }).catch(err => {
                    loading.value = false
                    ElNotification({title: 'Maaf, Error!', message: err.response.data.msg})
                })
}

onBeforeMount(() => {
    // if(props.rombel.jadwals.length > 0) {jadwals.value = props.rombel.jadwals}
    // else {init()}
    init()
})
</script>

<template>
    <div class="w-full">
        <el-row class="w-full">
            <el-col :span="24">
                <el-card class="w-full">
                    <template #header >
                        <div class="w-full flex items-center justify-between print:hidden">
                            <h3>Jadwal Pelajaran Kelas {{ props.rombel.label }}</h3>
                            <div class="toolbar-items flex justify-end">
                                <el-button @click="formJadwal = true" type="" size="small" rounded>
                                    <Icon icon="mdi:plus-box-outline" />
                                    &nbsp;Tambah
                                </el-button>
                                <el-button @click="cetak" type="" size="small" rounded class="mr-2">
                                    <Icon icon="mdi:printer" />
                                    Cetak
                                </el-button>
                                <el-button @click="emit('close')" type="" circle>
                                    <Icon icon="mdi:close" />
                                </el-button>
                            </div>
                        </div>
                    </template>
                    <div class="card-body">
                        <el-container>
                            <el-row class="w-full" v-if="jadwals.length > 0">
                                <h1 class="text-center">JADWAL PELAJARAN PAI DAN BUDI PEKERTI</h1>
                                <h1 class="text-center">{{ page.props.periode.deskripsi.toUpperCase() }} </h1>
                                <h1 class="text-center">{{ page.props.sekolahs[0].name.toUpperCase() }} </h1>
                                
                                <table class="w-full mt-8">
                                    <thead>
                                        <tr>
                                            <th class="border border-black " rowspan=2>Waktu</th>
                                            <th class="border border-black" colspan="6">Hari</th>
                                            
                                        </tr>
                                        <tr>
                                            <template v-for="(hari, h) in haris" :key="hari">
                                                <th class="border border-black" v-if="h !== 0">{{ hari }}</th>
                                            </template>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(waktu, w) in waktus">
                                            <td class="border border-black text-center font-bold" :class="(w == 4 || w == 9) ? 'bg-slate-300': ''">{{ waktu.waktu }}</td>
                                            <template v-for="(hari, j) in tableJadwals" :key="j">
                                                <td class="border border-black text-center" :class="(w == 4 || w == 9) ? 'bg-slate-300 font-bold': ''">
                                                    <span v-if="w == 4 || w == 9"> Istirahat</span>
                                                    <span v-if="tableJadwals[j][w]?.rombel_id !== 'Istirahat'">
                                                        {{ tableJadwals[j][w]?.rombel ?  tableJadwals[j][w]?.rombel.label :  tableJadwals[j][w]?.rombel_id}}
                                                    </span>
                                                </td>
                                            </template>
                                        </tr>
                                    </tbody>
                                </table>

                                <table style="margin-top: 70px;width:100%;">
                                    <tr>
                                        <td style="text-align: center;width: 33%;">
                                            <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                                            <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">{{page.props.sekolahs[0].nama_ks}}</p>    
                                            <p style="margin:0;padding:0;line-height: 1em;">NIP. {{page.props.sekolahs[0].nip_ks}}</p>    
                                        </td>
                                        <td style="text-align: center;width: 33%;">
                                        </td>
                                        <td style="text-align: center;width: 33%;">
                                            <p style="margin:0;padding:0;line-height: 1em;">{{_.capitalize(page.props.sekolahs[0].kecamatan)}}, .........................</p>    
                                            <p style="margin:0;padding:0;line-height: 1em;">Guru PAI</p>    
                                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">{{page.props.user.guru.fullname}}</p>    
                                            <p style="margin:0;padding:0;line-height: 1em;">NIP. {{page.props.user.guru.nip}}</p>    
                                        </td>
                                    </tr>
                                </table>
                            </el-row>
                            <el-row class="w-full h-[300px]" align="middle" justify="center" v-else>
                                    <h1 class="tetx-2xl font-bold text-slate-500">Belum ada jadwal. Tambahkan jadwal</h1>
                            </el-row>
                        </el-container>
                        
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <el-row>
            <el-dialog v-model="formJadwal" :draggable="true" center> 
                <template #header>
                    <h3 class="font-bold text-lg text-slate-600">Tambah Jadwal Kelas {{ props.rombel.label }}</h3>
                </template>
                <div class="dialog-body">
                    <el-form label-width="120px" v-model="newJadwal">
                        <el-form-item label="Hari">
                            <el-select v-model="newJadwal.hari">
                                <el-option v-for="hari in ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']" :value="hari">{{ hari }}</el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Jamke">
                            <el-select v-model="newJadwal.jamke">
                                <el-option v-for="waktu in waktus" :value="waktu.jamke">{{ waktu.jamke }}: {{ waktu.waktu }}</el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" :loading="loading" @click="simpanJadwal">Simpan</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-dialog>
        </el-row>
    </div>
</template>