<script setup>
import { ref, computed, onBeforeMount } from 'vue';
import { usePage } from '@inertiajs/vue3';
import axios from 'axios';
import dayjs from 'dayjs';
dayjs.locale("id")
import { capitalize, uppercase, weeksPerMonth } from '@/Plugins/helper';

const props = defineProps({ rombel: Object, pembelajarans: Array, cps: Array })
const emit = defineEmits(['close'])
const page = usePage()

// Data

const pembelajarans = ref([])
const aws = ref([])
const cps = ref([])
const months = computed(() => {
    let bulans = dayjs.months()
    return page.props.periode.semester == '2' ? bulans.slice(0,6) : bulans.slice(6)
})

// Functions

const init = async() => {
    // await axios.post(route('pembelajaran.index', {
    //             rombel: props.rombel.kode_rombel
    //         })).then(res => {
    //             cps.value = res.data.cps
    //             pembelajarans.value = res.data.pembelajarans
    //             res.data.pembelajarans.forEach((pbl, p) => {
    //                 pbl.materis.forEach((mt, m) => {
    //                     aws[mt['kode']] = mt.protas[0] ? mt.protas[0].aw : 0
    //                 })
    //             })
    //         })
    setTimeout(() => {
        pembelajarans.value = props.pembelajarans;
        props.pembelajarans.forEach((pbl, p) => {
            pbl.materis.forEach((mt, m) => {
                aws[mt['kode']] = mt.protas[0] ? mt.protas[0].aw : 0
            })
        })
        cps.value = props.cps
    },300)
}

const cetak = async() => {
    let paper = document.querySelector(".print-prosem")
    let weeks = months.value.reduce((a,m) => (a + weeksPerMonth(m)),0)
    let tr = '';
    let thm = '';
    let thw= '';

    for(let m of months.value) {
        thm+= `<th style="border: 1px solid black; padding: 3px;" colspan="${weeksPerMonth(m)}">${m}</th>`
        for(let w=0; w < weeksPerMonth(m); w++) {
            thw += `<th style="border: 1px solid black; padding: 3px;">${w+1}</th>`
        }
    }

    let thead = `<tr>
                    <th style="border: 1px solid black; padding: 3px;" rowspan="2">Elemen</th>
                    <th style="border: 1px solid black; padding: 3px;" rowspan="2">Capaian Pembelajaran</th>
                    <th style="border: 1px solid black; padding: 3px;" rowspan="2">Materi Pembelajaran</th>
                    <th style="border: 1px solid black; padding: 3px;" rowspan="2">AW</th>
                    ${thm}
                </tr>
                <tr>
                    ${thw}
                </tr>
                `
    

    pembelajarans.value.forEach((pbl,p) => {
        pbl.materis.forEach((materi,m) => {
            tr += `
                <tr>
                    ${(p+m==p) ? '<td style="border: 1px solid black; padding: 5px;width: 5%; vertical-align: top;" rowspan="'+pbl.materis.length+'">'+cps.value[p].elemen+'</td>': ''}
                    ${(p+m==p) ? '<td style="border: 1px solid black; padding: 5px;width: 20%; vertical-align: top;" rowspan="'+pbl.materis.length+'">'+cps.value[p].teks+'</td>': ''}
                    <td style="border: 1px solid black; padding: 5px; width:10%; vertical-align: top;">
                        ${(p+m==p) ? '<p style="font-weight:bold;">'+pbl.kode.split("-")[3]+'. '+pbl.label+'</p>':''}
                        ${(m < pbl.materis.length-1) ? '<span>'+materi.kode.substr(-1)+'.</span> ':'' } ${materi.label}
                    </td>
                    <td style="border: 1px solid black; padding: 5px;text-align:center;padding: 5px 0;width: 4%; vertical-align: ${(p+m==p) ? 'bottom':'middle'};">
                        ${(p+m==p) ? '<p></p>':''}
                        ${ materi.protas[0]?.aw } JP
                    </td>
            `
            for (let w=0; w < weeks; w++) {
                tr+= `<td style="text-align:center;background: ${materi.prosems[0].minggu_ke == (w+1) ? '#adc' : 'white'};border: 1px solid black; vertical-align: ${(p+m==p) ? 'bottom':'middle'}">
                        ${(p+m==p) ? '<p></p>':''}
                        ${materi.prosems[0].minggu_ke == (w+1) ? '<p style="color: black; font-weight:bold;">'+(materi.prosems[0] ? materi.prosems[0].tanggal.split("-")[2] : '0')+'</p>': ''}
                    </td>`
            }
            tr += '</tr>'
        })
    })

    let html = `
        <!doctype html>
        <html>
            <head>
                <title>
                    Program Semester
                </title>
            </head>
            <body>
                <h1 style="text-align:center; font-weight: bold;">RENCANA PROGAM</h1>
                <h1 style="text-align:center; font-weight: bold;">${ uppercase(page.props.periode.deskripsi) }</h1>
            
                <table class="meta mt-8 mb-4">
                    <tr>
                        <td>Satuan Pendidikan</td>
                        <td>:</td>
                        <td>${ capitalize(page.props.sekolahs[0].name) }</td>
                    </tr>
                    <tr>
                        <td>Kelas</td>
                        <td>:</td>
                        <td>${ props.rombel.label }</td>
                    </tr>
                    <tr>
                        <td>Mata Pelajaran</td>
                        <td>:</td>
                        <td>PAI dan Budi Pekerti</td>
                    </tr>
                    <tr>
                        <td>Hari</td>
                        <td>:</td>
                        <td>${ props.rombel.jadwals[0].hari }</td>
                    </tr>
                </table>

                <table class="w-full" style="border-collapse: collapse;">
                    <thead>
                        ${thead}
                    </thead>
                    <tbody>
                        ${tr}
                    </tbody>
                </table>
                
                <table style="margin-top: 70px;width:100%;">
                    <tr>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.sekolahs[0].nama_ks}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.sekolahs[0].nip_ks}</p>    
                        </td>
                        <td style="text-align: center;width: 33%;">
                        </td>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">${capitalize(page.props.sekolahs[0].kecamatan)}, .................</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Guru PAI</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.user.guru.fullname}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.user.guru.nip}</p>    
                        </td>
                    </tr>
                </table>
            </body>
        </html>
    `;
    setTimeout(() => {
        let win =window.open("","_blank", "width=1024,height=700")
        win.document.write(html)
        win.print()
        win.close()
    }, 300)
    

}

defineExpose({ cetak })

onBeforeMount(() => {
    init()
})
</script>

<template>
    <div class="print-prosem">
        <h1 style="text-align:center; font-weight: bold;">RENCANA PROGAM</h1>
        <h1 style="text-align:center; font-weight: bold;">{{ uppercase(page.props.periode.deskripsi) }}</h1>

        <table class="meta mt-8 mb-4">
            <tr>
                <td>Satuan Pendidikan</td>
                <td>:</td>
                <td>{{ capitalize(page.props.sekolahs[0].name) }}</td>
            </tr>
            <tr>
                <td>Kelas</td>
                <td>:</td>
                <td>{{ props.rombel.label }}</td>
            </tr>
            <tr>
                <td>Mata Pelajaran</td>
                <td>:</td>
                <td>PAI dan Budi Pekerti</td>
            </tr>
            <tr>
                <td>Hari</td>
                <td>:</td>
                <td>{{ props.rombel.jadwals[0].hari }}</td>
            </tr>
        </table>

        <table class="w-full" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid black; padding: 3px;">Elemen</th>
                    <th style="border: 1px solid black; padding: 3px;">Capaian Pembelajaran</th>
                    <th style="border: 1px solid black; padding: 3px;">Materi Pembelajaran</th>
                    <th style="border: 1px solid black; padding: 3px;">AW</th>
                    <th style="border: 1px solid black; padding: 3px;">Tanggal</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(pbl, p) in pembelajarans">
                    <tr v-for="(materi, m) in pbl.materis" :key="materi.kode">
                        <td style="border: 1px solid black; padding: 5px;width: 5%; vertical-align: top;" v-if="(p+m) == p" :rowspan="pbl.materis.length">
                            {{ cps[p].elemen }}
                        </td>
                        <td style="border: 1px solid black; padding: 5px; width: 15%; vertical-align: top;" v-if="(p+m) == p" :rowspan="pbl.materis.length">
                            {{ cps[p].teks }}
                        </td>
                        <td style="border: 1px solid black; padding: 5px; width: 20%; vertical-align: top;">
                            <p style="font-weight:bold;" v-if="p+m === p">{{ pbl.kode.split("-")[3] }}. {{ pbl.label }}</p>
                            <span v-if="m < pbl.materis.length-1">{{ materi.kode.substr(-1) }}.</span> {{ materi.label }}
                        </td>
                        <td style="border: 1px solid black; padding: 5px;text-align:center;padding: 5px 0;width: 4%; vertical-align: top;;">
                            <p v-if="p+m===p">&nbsp;</p>
                            {{ materi.protas[0]?.aw }} JP
                        </td>
                        <td style="border: 1px solid black; padding: 5px;text-align:center;padding: 5px 0;width: 4%; vertical-align: top;;">
                            <p v-if="p+m===p">&nbsp;</p>
                            {{ dayjs(materi.prosems[0]?.tanggal).locale('id').format("DD-MM-YYYY ") }}
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        <table style="margin-top: 70px;width:100%;">
            <tr>
                <td style="text-align: center;width: 33%;">
                    <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                    <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">{{page.props.sekolahs[0].nama_ks}}</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">NIP. {{page.props.sekolahs[0].nip_ks}}</p>    
                </td>
                <td style="text-align: center;width: 33%;">
                </td>
                <td style="text-align: center;width: 33%;">
                    <p style="margin:0;padding:0;line-height: 1em;">{{ capitalize(page.props.sekolahs[0].kecamatan) }}, ..............................</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">Guru PAI</p>    
                    <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">{{page.props.user.guru.fullname}}</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">NIP. {{page.props.user.guru.nip}}</p>    
                </td>
            </tr>
        </table>
    </div>
</template>