<script setup>
import { ref, computed, onBeforeMount, defineAsyncComponent } from 'vue';
import { usePage } from '@inertiajs/vue3'
import axios from 'axios';
import { Icon } from '@iconify/vue'
import dayjs, { weekdays } from 'dayjs';
import localeData from 'dayjs/plugin/localeData'
dayjs.extend(localeData)
dayjs.locale("id")
import { unefektif,allUnefektif } from '@/Plugins/helper';

const page = usePage()
const props = defineProps({ rombel: Object })
const emit = defineEmits(['close'])
// Data
const loading = ref(false)
const mode = ref('form')
const prota = ref(null)
const protas = ref([])
const prosem = ref(null)
const prosems = ref([])
const pembelajarans = ref([])
const aws = ref([])
const tanggals = ref([])
const cps = ref([])
const semester = computed(() => page.props.periode.semester)
const syahrs = ref(dayjs.months())
const materis = ref([])
const pickerVisibilities = ref([])
const weekDays = computed(() => {
    let wD = dayjs.weekdays()
    let weeks = [0,1,2,3,4,5,6];
    weeks.splice(wD.lastIndexOf(props.rombel.jadwals[0].hari),1)
    return weeks
})

const allEvents = computed(() => {
    let all = allUnefektif(syahrs.value.slice((semester == '1' ? 6 : 0), (semester == '1' ? 12 : 6)), props.rombel.jadwals[0].hari)
    let dates = []
    for (let evs of all) {
        for(let ev of evs) {
            dates.push(ev)
        }
    }
    return dates
})


const disableDates = computed(() => {
    let disabled =[]
    for(let ae of allEvents.value) {
        let date = new Date(ae)
        disabled.push(`${date.getFullYear()}-${(date.getMonth()-1)}-${date.getDate()}`)
    }
    // disabled.push({repeat: {weekdays: weekDays.value}})
    return disabled
})
// const disableDates = computed(() => {
//     let disabled =[]
//     for(let ae of allEvents.value) {
//         disabled.push(ae)
//     }
//     disabled.push({repeat: {weekdays: weekDays.value}})
//     return disabled
// })

// Components
const Prota = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Prota.vue'))
const Prosem = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Prosem.vue'))
// Functions
const cetak = (comp) => {
    switch(comp) {
        case "prota" : prota.value.cetak();
        case "prosem" : prosem.value.cetak();
    }
}



// Functions
const disabledDates = (time) => {
    let disabled = []
    for(let ae of allEvents.value) {
        let date = new Date(ae)
        disabled.push(`${date.getFullYear()}-${(date.getMonth())}-${date.getDate()}`)
    }
 
    // return weekDays.value.includes(time.getDay()) || disabled.includes(time.getFullYear()+'-'+time.getMonth()+'-'+time.getDate()) 
    return disabled.includes(time.getFullYear()+'-'+time.getMonth()+'-'+time.getDate()) || weekDays.value.includes(time.getDay()) || (time.getTime() <= new Date(page.props.periode.start).getTime() || time.getTime() >= new Date(page.props.periode.end).getTime())
} 
const simpan = async() => {
    loading.value = true
    materis.value.forEach(kode => {
        prosems.value[kode] = dayjs(prosems.value[kode]).format('YYYY-MM-DD')
    })
   
    console.log(prosems.value)
   
    await axios.post(route('materi.protasem.store', {
        rombel: props.rombel.kode_rombel,
        hari: props.rombel.jadwals[0].hari,
        guru_id: page.props.user.guru.nip,
        protas: aws.value,
        prosems: prosems.value
    })).then(res => {
        init()
        loading.value = false
    }).catch(err => {
        loading.value = false
    })
}

const init = async() => {
    await axios.post(route('pembelajaran.index', {
                rombel: props.rombel.kode_rombel
            })).then(res => {
                cps.value = res.data.cps
                pembelajarans.value = res.data.pembelajarans
                res.data.pembelajarans.forEach((pbl, p) => {
                    pbl.materis.forEach((mt, m) => {
                        aws.value[mt.kode] = mt.protas[0] ? mt.protas[0].aw : 0
                        prosems.value[mt.kode] = mt.prosems[0] ? mt.prosems[0].tanggal : ''
                        protas.value[mt.kode] = mt.protas[0] ? mt.protas[0].aw : 0
                        materis.value.push(mt.kode)
                        pickerVisibilities.value[mt.kode] = false
                    })
                })
            })
}

onBeforeMount(() => {
    init()
})
</script>

<template>
    <div class=" w-full relative">
        <el-row justify="space-evenly" :gutter="20">
            <el-col :span="24" >
                <div class="w-full h-12 bg-white rounded shadow flex items-center justify-between p-3 toolbar sticky top-12]">
                    <h1>Program Tahunan dan Semester</h1>
                    <div class="toolbar-items flex items-center gap-2 justify-end">
                        <el-tooltip content="Isi data Prota dan Promes" >
                            <el-button @click="mode = 'form'">
                                <Icon icon="mdi:book-edit" />
                            </el-button>
                        </el-tooltip>
                        <el-tooltip content="Cetak Prota dan Promes" >
                            <el-button @click="mode = 'print'">
                                <Icon icon="mdi:printer" />
                            </el-button>
                        </el-tooltip>
                        <el-button circle size="small" type="danger" @click="emit('close')">
                            <Icon icon="mdi:close" />
                        </el-button>
                    </div>
                </div>
            </el-col>

        </el-row>

        <el-row justify="space-evenly" :gutter="20" class="mt-4">
            <el-col :gap="24" v-if="mode == 'form'">
                <el-card>
                    <template #header>
                        <div class="w-full flex justify-between items-center">
                            <h1>Isi Data Prota dan Prosem</h1>
                            <el-button :loading="loading" type="primary" size="small" @click="simpan">Simpan</el-button>
                        </div>
                    </template>
                    <div>
                        <table class="w-full">
                            <thead>
                                <tr>
                                    <th class="border border-black px-3 py-2">No</th>
                                    <th class="border border-black px-3 py-2">Pembelajaran</th>
                                    <th class="border border-black px-3 py-2">Materi</th>
                                    <th class="border border-black px-3 py-2">Alokasi Waktu</th>
                                    <th class="border border-black px-3 py-2">Tanggal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="(pbl, p) in pembelajarans" :key="pbl.kode">
                                    <tr v-for="(materi, m) in pbl.materis" :key="materi.kode">
                                        <td class="border align-top border-black px-3 py-1 text-center" v-if="(p+m) == p" :rowspan="pbl.materis.length">{{ p+1 }}</td>
                                        <td class="border align-top border-black px-3 py-1" v-if="(p+m) == p" :rowspan="pbl.materis.length">{{pbl.kode.split("-")[3]}}. {{ pbl.label }}</td>
                                        <td class="border align-top border-black px-3 py-1"><span v-if="m < (pbl.materis.length-1)">{{ materi.kode.split("-")[4] }}</span> {{ materi.label }}</td>
                                        <td class="border align-top border-black px-3 py-1 text-center">
                                            <el-input v-model="aws[materi.kode]" type="number"></el-input>
                                        </td>
                                        <td class="border align-top border-black px-3 py-1 text-center">
                                            <!-- <el-popover placement="bottom-end" :visible="pickerVisibilities[materi.kode]">
                                                <template #reference>
                                                    <el-button @click="pickerVisibilities[materi.kode] = !pickerVisibilities[materi.kode]">{{ dayjs(prosems[materi.kode]).format('DD-MM-YYYY') }}</el-button>
                                                </template>
                                                <v-date-picker v-model="prosems[materi.kode]" mode="date" :disabled-dates="disableDates" :min-date="new Date(page.props.periode.start)" :max-date="new Date(new Date(page.props.periode.end))" @update:modelValue="pickerVisibilities[materi.kode]=false"></v-date-picker>
                                            </el-popover> -->
                                            <el-date-picker v-model="prosems[materi.kode]" type="date" placeholder="Tanggal pelaksanaan" :disabled-date="disabledDates" :size="'small'" />
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" v-if="mode== 'print'">
                <el-card>
                    <template #header>
                        <div class="flex items-center justify-between">
                            <span>Program Tahunan</span>
                            <el-button circle @click="cetak('prota')">
                                <Icon icon="mdi:printer" />
                            </el-button>
                        </div>
                    </template>
                    <div class="card-boy">
                        <Prota :rombel="props.rombel" ref="prota" :pembelajarans="pembelajarans" :cps="cps" />
                    </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="12" v-if="mode== 'print'">
                <el-card>
                    <template #header>
                        <div class="flex items-center justify-between">
                            <span>Program Semester</span>
                            <el-button circle  @click="cetak('prosem')">
                                <Icon icon="mdi:printer" />
                            </el-button>
                        </div>
                    </template>
                    <div class="card-boy">
                        <Prosem ref="prosem" :rombel="props.rombel" :pembelajarans="pembelajarans" :cps="cps" />
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>