<script setup>
import { ref, computed, onMounted, onBeforeMount } from 'vue';
import { usePage } from '@inertiajs/vue3';
import axios from 'axios';

import { capitalize, uppercase } from '@/Plugins/helper';

const props = defineProps({ rombel: Object, pembelajarans: Array, cps: Array })
const emit = defineEmits(['close'])
const page = usePage()




// Data

const pembelajarans = ref([])
const aws = ref([])
const cps = ref([])


// Functions

const init = () => {
    setTimeout(() => {
        pembelajarans.value = props.pembelajarans;
        props.pembelajarans.forEach((pbl, p) => {
            pbl.materis.forEach((mt, m) => {
                aws[mt['kode']] = mt.protas[0] ? mt.protas[0].aw : 0
            })
        })
        cps.value = props.cps
    },300)
    
}

const cetak = () => {
    let paper = document.querySelector(".print-prota")

    let cssLink = (page.props.app_env == 'local') ? 'http://localhost:5173/resources/css/app.css' : '/build/assets/app.css'
    let win = window.open("","_blank","width=1024,height=700")
    let html = `
        <!doctype html>
        <html>
            <head>
                <title>Daftar Hadir Siswa #{page.props.sekolahs[0].name}</title>
                <link rel="stylesheet" href="${cssLink}" type="text/css" />
            </head>
            <body>
                ${paper.outerHTML}    
            </body>
        </html>
    `

    win.document.write(html)
    setTimeout(() => {
        win.print()
        win.close()
    }, 500)

}

defineExpose({ cetak })

onBeforeMount(() => {
    init()
   
})
</script>

<template>
    <div class="w-full print-prota">
        <h1 style="text-align:center; font-weight: bold;">PROGAM TAHUNAN</h1>
        <h1 style="text-align:center; font-weight: bold;">{{ uppercase(page.props.periode.deskripsi) }}</h1>

        <table class="meta mt-8 mb-4">
            <tr>
                <td>Satuan Pendidikan</td>
                <td>:</td>
                <td>{{ capitalize(page.props.sekolahs[0].name) }}</td>
            </tr>
            <tr>
                <td>Kelas</td>
                <td>:</td>
                <td>{{ props.rombel.label }}</td>
            </tr>
            <tr>
                <td>Mata Pelajaran</td>
                <td>:</td>
                <td>PAI dan Budi Pekerti</td>
            </tr>
            <tr>
                <td>Hari</td>
                <td>:</td>
                <td>{{ props.rombel.jadwals[0].hari }}</td>
            </tr>
        </table>

        <table class="w-full" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid black; padding: 3px;">Elemen</th>
                    <th style="border: 1px solid black; padding: 3px;">Capaian Pembelajaran</th>
                    <th style="border: 1px solid black; padding: 3px;">Materi Pembelajaran</th>
                    <th style="border: 1px solid black; padding: 3px;">AW</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(pbl, p) in pembelajarans">
                    <tr v-for="(materi, m) in pbl.materis" :key="materi.kode">
                        <td style="border: 1px solid black; padding: 5px;width: 5%; vertical-align: top;" v-if="(p+m) == p" :rowspan="pbl.materis.length">
                            {{ cps[p].elemen }}
                        </td>
                        <td style="border: 1px solid black; padding: 5px; width: 15%; vertical-align: top;" v-if="(p+m) == p" :rowspan="pbl.materis.length">
                            {{ cps[p].teks }}
                        </td>
                        <td style="border: 1px solid black; padding: 5px; width: 20%; vertical-align:top;">
                            <p style="font-weight: bold;" v-if="p+m === p">{{ pbl.kode.split("-")[3] }}. {{ pbl.label }}</p>
                            <span v-if="m < pbl.materis.length-1">{{ materi.kode.substr(-1) }}.</span> {{ materi.label }}
                        </td>
                        <td style="border: 1px solid black; padding: 5px;text-align:center;padding: 5px 0;width: 4%; vertical-align:top;">
                            <p v-if="p+m===p">&nbsp;</p>
                            {{ materi.protas[0]?.aw }} JP
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        <table style="margin-top: 70px;width:100%;">
            <tr>
                <td style="text-align: center;width: 33%;">
                    <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                    <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">{{page.props.sekolahs[0].nama_ks}}</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">NIP. {{page.props.sekolahs[0].nip_ks}}</p>    
                </td>
                <td style="text-align: center;width: 33%;">
                </td>
                <td style="text-align: center;width: 33%;">
                    <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                    <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">{{page.props.user.guru.fullname}}</p>    
                    <p style="margin:0;padding:0;line-height: 1em;">NIP. {{page.props.user.guru.nip}}</p>    
                </td>
            </tr>
        </table>
    </div>
</template>