<script setup>
import { ref, computed, onBeforeMount, defineAsyncComponent } from 'vue';
import { usePage } from '@inertiajs/vue3'
import axios from 'axios';
import { Printer } from '@element-plus/icons-vue'
import dayjs from 'dayjs'
import localeData from 'dayjs/plugin/localeData'
import { Icon } from '@iconify/vue'
import 'dayjs/locale/id'
dayjs.extend(localeData)
dayjs.locale("id")

// Helpers
import { uppercase, weeksPerMonth, unefektif, weekPerSemester, sumUnEfektif, sumEfektif } from '@/Plugins/helper'

// COmponents
const Agenda = defineAsyncComponent(() => import('@/Components/General/Agenda.vue'))

// Ekternal Data
const page = usePage()
const props = defineProps({ rombel: Object })
const emit = defineEmits(['close'])

// Internal Data
const semester = computed(() => page.props.periode.semester)
const bulans = computed(() => {
    let months = dayjs.months()
    // return months.splice((page.props.periode.semester == '2' ? 0 : 6),6)
    return months.slice((semester == '1' ? 6 : 0), (semester == '1' ? 12 : 6))
    // return months
})

// Functions
const init = async() => {

}

onBeforeMount(() => {
    init()
})
</script>

<template>
    <el-container>
        <el-row :gutter="5" class="bg-slate-200 w-full">
            <el-col :span="24" class="print:hidden hide-on-print">
                <el-card class="print:hidden">
                    <div class="w-full flex items-center justify-between toolbar">
                        <h3 class="font-bold text-slate-700">Kalender Pendidikan dan Analisis Pekan Efektif</h3>
                        <div class="toolbar-items">
                            <el-button circle type="danger" @click="emit('close')">
                                <Icon icon="mdi:close" />
                            </el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
            <el-col :xs="24" :lg="12" class="flex justify-center p-4">
                <Agenda class="mx-auto kaldik" />
            </el-col>
            <el-col :xs="24" :lg="12" >
                <el-row justify="center" class="w-full p-0 sm:p-4">
                    <el-col :span="24">
                        <el-card>
                            <h2 class="text-center font-bold">RENCANA PEKAN EFEKTIF</h2>
                            <h2 class="text-center font-bold">TAHUN PELAJARAN {{ page.props.periode.tapel}}</h2>

                            <div class="w-full meta mt-6">
                                <table>
                                    <tr>
                                        <td>Satuan Pendidikan</td>
                                        <td>:</td>
                                        <td>{{ page.props.sekolahs[0].name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Kelas/Semester</td>
                                        <td>:</td>
                                        <td>{{ props.rombel.label }} / {{ page.props.periode.semester }}</td>
                                    </tr>
                                    <tr>
                                        <td>Mata Pelajaran</td>
                                        <td>:</td>
                                        <td>PAI dan Budi Pekerti</td>
                                    </tr>
                                    <tr>
                                        <td>Jadwal</td>
                                        <td>:</td>
                                        <td>{{ props.rombel.jadwals[0]?.hari }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="my-4">
                                <el-scrollbar width="100vw" horizontal>
                                    <table  style="border-collapse: collapse;width: 100%;">
                                        <thead>
                                            <tr>
                                                <th class="px-3 border border-black" rowspan="2">NO</th>
                                                <th class="px-3 border border-black" rowspan="2">BULAN</th>
                                                <th class="px-3 border border-black" colspan="3">JUMLAH PEKAN</th>
                                                <th class="px-3 border border-black" rowspan="2">KETERANGAN</th>
                                            </tr>
                                            <tr>
                                                <th class="px-3 border border-black">JUMLAH PEKAN</th>
                                                <th class="px-3 border border-black">TDK EFEKTIF</th>
                                                <th class="px-3 border border-black">EFEKTIF</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(bulan, b) in bulans" :key="bulan">

                                                <td class="border border-black px-3 text-center">
                                                    {{ b+1 }}
                                                </td>
                                                <td class="border border-black px-3">
                                                    {{ uppercase(bulan) }}
                                                </td>
                                                <td class="border border-black px-3 text-center">
                                                    {{ weeksPerMonth(bulan, props.rombel.jadwals[0].hari) }}
                                                </td>
                                                <td class="border border-black px-3 text-center">
                                                    {{ unefektif(bulan, props.rombel.jadwals[0].hari).length }}
                                                </td>
                                                <td class="border border-black px-3 text-center">
                                                    {{  (weeksPerMonth(bulan, props.rombel.jadwals[0].hari)) - (unefektif(bulan, props.rombel.jadwals[0].hari).length ) }}
                                                </td>
                                                <td class="border border-black">
                                                        <ol class="list-disc pl-6" v-for="(even, e) in unefektif(bulan, props.rombel.jadwals[0].hari)" :key="e">
                                                            <li class="" :style="`color: ${even.color};`">{{ even ? dayjs(even.start).locale("id").format('ddd, DD/MM/YYYY') : '' }}: {{ even.description }}</li>
                                                        </ol>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="border border-black text-center font-bold" colspan="2">JUMLAH</td>
                                                <td class="border border-black text-center font-bold"> {{ weekPerSemester(bulans, props.rombel.jadwals[0].hari) }} </td>
                                                <td class="border border-black text-center font-bold"> {{ sumUnEfektif(bulans, props.rombel.jadwals[0].hari) }} </td>
                                                <td class="border border-black text-center font-bold"> {{ sumEfektif(bulans, props.rombel.jadwals[0].hari) }} </td>
                                                <td class="border border-black text-center font-bold">  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </el-scrollbar>
                            </div>

                            <table class=" w-full">
                                <tr>
                                    <td class="w-[33%] text-center">
                                        <p>Mengetahui</p>
                                        <p class="leading-4">Kepala Sekolah,</p>
                                        <p class="font-bold underline mt-16">{{ page.props.sekolahs[0].nama_ks }}</p>
                                        <p class="leading-4"> NIP. {{ page.props.sekolahs[0].nip_ks }}</p>
                                    </td>
                                    <td class="w-[33%]"></td>
                                    <td class="w-[33%] text-center">
                                        <p>Mengetahui</p>
                                        <p class="leading-4">Wagir, ................................</p>
                                        <p class="font-bold underline mt-16">{{ page.props.user.guru.fullname }}</p>
                                        <p class="leading-4"> NIP. {{ page.props.user.guru.nip }}</p>
                                    </td>
                                </tr>
                            </table>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </el-container>
</template>