<script setup>
import { ref, onBeforeMount, computed, defineAsyncComponent } from 'vue';
import { usePage } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue'
import axios from 'axios'
import * as _ from 'lodash'

const page = usePage()
const props = defineProps({rombel: Object})
const emit = defineEmits(['close'])

// Components
const AtpComp = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Atp.vue'))
// Data
const mode = ref('tp')
const cps = ref([])
const tps = ref([])
const showDialog = ref(false)
const formTp = ref({})
const selectedCp = ref(null)
const mine = ref(false)

const cpTeks = computed(() => {
    let text = '';
    cps.value.forEach(cp => text += cp.teks+" ")
    return text
})

const Atp = ref(null)

// Functions
const init = async() => {
    await axios.post(route('cp.index', { mine: mine.value}), {fase: props.rombel.fase})
                .then(res => {
                    cps.value = res.data.cps
                    res.data.cps.forEach((cp,c) => {
                        cp.tps = cp.tps.length > 0 ? cp.tps : []
                    })
                })
}


const onMineChecked = (e) => {
    init()
}

const addTp = (cp) => {
    const index = cps.value.findIndex(c => c.kode == cp.kode)
    cps.value[index].tps.push({
        cp_id: cp.kode,
        fase: cps.value[index].fase,
        kompetensi: '',
        materi: '',
        teks: '',
        guru_id: mine.value ? page.props.user.guru.nip : null
    })
}

const addKompetensi = (e,c,t) => {
    let content = e.target.innerText
    cps.value[c].tps[t].kompetensi = content
}
const addMateri = (e,c,t) => {
    let content = e.target.innerText
    cps.value[c].tps[t].materi = content
}
const addTujuan = (e,c,t) => {
    let content = e.target.innerText
    cps.value[c].tps[t].teks = content
}

const duplicateTp = (e,c,t) => {
    let tr = e.target.closest("tr")
    let tds = tr.querySelectorAll("td")
    let empty = {
        cp_id: cps.value[c].kode,
        fase: cps.value[c].fase,
        kompetensi: tds[0].innerText,
        materi: tds[1].innerText, 
        teks: ''}
    // cps.value[c].tps.splice((t+1),0,empty)
    cps.value[c].tps.push(empty)
}

const onTujuanKeyPressed = async(e,c,t) => {
    
    if(e.key == 'Enter') {
        e.preventDefault()
        addTujuan(e,c,t)
        duplicateTp(e,c,t)
    }
}

const simpanTp = async(cp) => {
    await axios.post(route('tp.store', {mine: mine.value}), {cp: cp})
            .then(res => {
                ElNotification({title: "Info", message: "Tujuan Pembelajaran disimpan"})
                init()
            }).catch(err => {
                ElNotification({title: "Error", message: err.response.msg})
                console.log(err)
            })
}
// Hapus

const hapusTp = async(tp, c,t) => {
    if(!tp.id) {
        cps.value[c].tps.splice(t,1)
    } else {
        await axios.delete(route('tp.destroy', {id: tp.id}))
                .then(res => {
                    ElNotification({title: 'Info', message: 'TP dihapus'})
                    init()
                }).catch(err => {
                    ElNotification({title: "Error", message: err.response.msg})
                    console.log(err)
                })
    }
}
// Cetak 

const cetak = async() => {
    let cssLink = (page.props.app_env == 'local') ? 'http://localhost:5173/resources/css/app.css' : '/build/assets/app.css'
    let trs = '';

    let newcps = []
    cps.value.forEach((cp,c) => {
        if (cp.tps || cp.tps.length > 0) {
            cp.tps = _.groupBy(cp.tps, 'kompetensi')
            newcps.push(cp)
        } else {
            newcps.push(cp)
        }
    })

    // console.log(newcps)

    function parseTps(items) {
        let lists = ''
        for(let i=0; i<items.length;i++) {
            let kodeAsli = items[i].kode.split("-")
            let kode = (mine.value ? items[i].kode.split("-")[1] : items[i].kode.split("-")[0])+kodeAsli[kodeAsli.length-1]
            lists += `<li class="flex  my-1 items-start"><span class="font-bold mr-2">${kode.toUpperCase()}. </span><span >${items[i].teks}</span></li>`
        }
        return lists
    }

    for (let c=0; c < newcps.length; c++ ) {
        if(!_.isEmpty(newcps[c].tps)) {
            let tpsLength = Object.keys(newcps[c].tps).length
            Object.keys(newcps[c].tps).forEach((kt, it) => {
                trs += `<tr>
                            ${(c+it === c) ? '<td class="border border-black p-3 align-top" rowspan="'+tpsLength+'" >'+newcps[c].elemen+' </td>':''}
                            ${(c+it === c) ? '<td class="border border-black p-3 align-top" rowspan="'+tpsLength+'" >'+newcps[c].teks+' </td>':''}
                            <td class="border border-black p-3 align-top">${kt}</td>
                            <td class="border border-black p-3 align-top">${newcps[c].tps[kt][0].materi}</td>
                            <td class="border border-black p-3 align-top"> <ul>${parseTps(newcps[c].tps[kt])}</ul></td>
                    </tr>`
            })
        } else {
            trs += `<tr>
                        <td class="border border-black p-3 align-top">${newcps[c].elemen}</td>
                        <td class="border border-black p-3 align-top">${newcps[c].teks}</td>
                        <td class="border border-black p-3 align-top"></td>
                        <td class="border border-black p-3 align-top"></td>
                        <td class="border border-black p-3 align-top"></td>
                </tr>`
        }
    }
    
    let html = `
        <!doctype html>
        <html>
            <head>
                <title>Tujuan Pembelajaran</title> 
                <link rel="stylesheet" href="${cssLink}" type="text/css" />   
            </head>
            <body>
                <h3 class="text-center text-xl uppercase font-bold">Rumusan Tujuan Pembelajaran</h3>
                <h3 class="text-center text-xl uppercase font-bold">Fase ${props.rombel.fase}</h3>

                <table>
                    <tr>
                        <td class="w-[10%]">Satuan Pendidikan</td><td>:</td><td>${page.props.sekolahs[0].name}</td>
                    </tr>    
                    <tr>
                        <td>Penyusun</td><td>:</td><td>${page.props.user.guru.fullname}</td>
                    </tr>    
                    <tr>
                        <td>Fase</td><td>:</td><td>${props.rombel.fase}</td>
                    </tr>    
                </table>
                <p class="my-2"><span class="font-bold">Capaian Pembelajaran:</span> ${cpTeks.value}</p>
                <table class="w-full mt-8">
                    <thead>
                        <tr>
                            <th class="border border-black p-2 w-[15%]">Elemen</th>    
                            <th class="border border-black p-2 ">Capaian Pembelajaran</th> 
                            <th class="border border-black p-2 ">Kompetensi</th>    
                            <th class="border border-black p-2 ">Materi Esensial</th>    
                            <th class="border border-black p-2 w-[50%]">Tujuan Pembelajaran</th>    
                        </tr>    
                    </thead>
                    <tbody>
                        ${trs}  
                    </tbody>   
                </table>

                <table style="margin-top: 70px;width:100%;">
                    <tr>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.sekolahs[0].nama_ks}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.sekolahs[0].nip_ks}</p>    
                        </td>
                        <td style="text-align: center;width: 33%;">
                        </td>
                        <td style="text-align: center;width: 33%;">
                            <p style="margin:0;padding:0;line-height: 1em;">Mengetahui,</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">Kepala Sekolah</p>    
                            <p style="margin:60px 0 0 0;padding:0;line-height: 1em; text-decoration: underline; font-weight: bold;">${page.props.user.guru.fullname}</p>    
                            <p style="margin:0;padding:0;line-height: 1em;">NIP. ${page.props.user.guru.nip}</p>    
                        </td>
                    </tr>
                </table>
            </body>
        </html>
    `

    let win = window.open("","_blank", "width=1024,height=800")

    win.document.write(html)

    setTimeout(() => {
        // win.print()
        // win.close()
    }, 600)
}

// Cetak ATP
const cetakAtp = () => {
    Atp.value.cetak()
}

onBeforeMount(() => {
    init()
})
</script>

<template>
    <el-container>
        <el-row class="w-full bg-pink-200">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        <div class="toolbar flex items-center justify-between w-full">
                            <span class="text-xl font-bold text-slate-700 flex items-center gap-1 transition-all">
                                <Icon :icon="`mdi:${mode=='tp'? 'bullseye': 'timeline'}`" class="text-[2em] " />
                                {{ mode =='tp' ? '' : 'Alur' }}
                                Tujuan Pembelajaran Fase {{ props.rombel.fase }}
                            </span>
                            <div class="toolbar-items flex items-center gap-2">
                                <el-tooltip content="Rumuskan TP" placement="bottom-end" v-if="mode=='atp'">
                                    <el-button type="" @click="mode='tp'">
                                        <Icon icon="mdi:bullseye" />
                                        TP
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip content="Susun ATP" placement="bottom-end" v-if="mode=='tp'">
                                    <el-button type="" @click="mode='atp'">
                                        <Icon icon="mdi:timeline" />
                                        ATP
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip content="Cetak TP" placement="bottom-end" v-if="mode=='tp'">
                                    <el-button type="" @click="cetak">
                                        <Icon icon="mdi:printer" />
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip content="Cetak ATP" placement="bottom-end" v-if="mode=='atp'">
                                    <el-button type="" @click="cetakAtp">
                                        <Icon icon="mdi:printer" />
                                    </el-button>
                                </el-tooltip>
                                <el-button circle type="danger" @click="emit('close')" class="bg-red-500">
                                    <Icon icon="mdi:close" />
                                </el-button>
                            </div>
                        </div>
                    </template>
                    <div class="card-body transition-all" v-if="mode=='tp'">
                        <el-row class="w-full bg-slate-100 p-4 rounded mb-4">
                            <el-col :xs="24" :sm="12">
                                
                                <el-checkbox v-model="mine" @change="onMineChecked($event)"><h4 class="font-semibold mb-2">Buat Sendiri?</h4></el-checkbox>
                            </el-col>
                            <el-col :xs="24" :sm="12">
                                <h4 class="font-semibold mb-2 ml-2">Progress</h4>
                                <el-progress :percentage="cps.reduce((a,c) => a + (c.tps ? (c.tps.length > 0 ? 1 : 0):0),0)/5*100" striped :stroke-width="20" striped-flow :duration="60" :text-inside="true"></el-progress>
                            </el-col>
                        </el-row>
                        <el-collapse>
                            <el-collapse-item v-for="(cp,c) in cps" :key="c">
                                <template #title>
                                    <span class="text-lg font-bold text-slate-700">{{ cp.elemen }}</span>&nbsp;<span class="text-sky-600">[{{ cp.tps?.length }} TP]</span>
                                </template>
                                <div class="w-full ">
                                    <el-button-group>
                                        <el-tooltip content="Tambah Tujuan" placement="top-start">
                                                <el-button size="small" @click="addTp(cp)" type="success" class="bg-green-500">
                                                    <Icon icon="mdi:plus" />
                                                </el-button>
                                                
                                        </el-tooltip>
                                        <el-tooltip content="Simpan Tujuan" placement="top-start">
                                            <el-button size="small" @click="simpanTp(cp)" type="primary" class="bg-sky-500">
                                                <Icon icon="mdi:send" />
                                            </el-button>
                                        </el-tooltip>
                                    </el-button-group>
                                    <table class="w-full bg-slate-100 my-2">
                                        <tr>
                                            <th class="p-0 w-[50px] align-top text-lg">CP</th>
                                            <td class="align-top text-lg">:</td>
                                            <td class="pl-1 align-top text-lg">
                                                {{ cp.teks }}
                                            </td>
                                        </tr>
                                    </table>
                                    
                                <el-scrollbar class="h-[500px]">
                                    <table class="w-full" v-if="cp.tps.length > 0">
                                        <thead>
                                            <tr>
                                                <th class="border border-slate-500">Kompetensi</th>
                                                <th class="border border-slate-500">Materi Esensial</th>
                                                <th class="border border-slate-500">Tujuan Pembelajaran</th>
                                                <th class="border border-slate-500">Opsi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(tp, t) in cp.tps" :key="t">
                                                <td class="border border-slate-500 p-1 w-[10%]" contenteditable="true" @blur="addKompetensi($event,c,t)">
                                                    {{ tp.kompetensi }}
                                                </td>
                                                <td class="border border-slate-500 p-1 w-[20%]" contenteditable="true" @blur="addMateri($event,c,t)">
                                                    {{ tp.materi }}
                                                </td>
                                                <td class="border border-slate-500 p-1" contenteditable="true" @blur="addTujuan($event,c,t)" @keypress="onTujuanKeyPressed($event, c,t)">
                                                    {{ cps[c]?.tps[t]?.teks }}
                                                    <!-- <el-input v-if="cps[c].tps[t].teks" v-model="cps[c].tps[t].teks"></el-input> -->
                                                </td>
                                                <td class="border border-slate-500 w-[5%] p-1 text-center">
                                                    <el-popconfirm
                                                        width="220"
                                                        confirm-button-text="OK"
                                                        cancel-button-text="Batal"
                                                        title="Yakin menghapus TP ini?"
                                                        @confirm="hapusTp(tp, c,t)"
                                                    >
                                                        <template #reference>
                                                            <el-button circle type="danger" size="small" class="bg-red-500">
                                                                <Icon icon="mdi:close"/>
                                                            </el-button>
                                                        </template>
                                                    </el-popconfirm>
                                                    <el-button circle type="primary" size="small" class="bg-sky-500" @click="duplicateTp($event,c,t)">
                                                        <Icon icon="mdi:content-duplicate"/>
                                                    </el-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </el-scrollbar>

                                </div>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                    <div class="atp transition-all" v-if="mode=='atp'" >
                        <AtpComp ref="Atp" :mine="mine" :rombel="props.rombel" :cp="cpTeks" :cps="cps"  />
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-container>
</template>