<script setup>
import { ref, onBeforeMount, computed, defineAsyncComponent } from 'vue';
import { usePage } from '@inertiajs/vue3';
import { Icon } from '@iconify/vue'
import axios from 'axios'
import * as _ from 'lodash'

const page = usePage()
const props = defineProps({rombel: Object})
const emit = defineEmits(['close'])

// Components
const Atp = defineAsyncComponent(() => import('@/Components/Dashboard/Rencana/Atp.vue'))
// Data
const mode = ref('tp')
const cps = ref([])
const tps = ref([])
const showDialog = ref(false)
const formTp = ref({})
const selectedCp = ref(null)
const mine = ref(false)

// Functions
const init = async() => {
    await axios.post(route('cp.index', { mine: mine.value}), {fase: props.rombel.fase})
                .then(res => {
                    cps.value = res.data.cps
                    res.data.cps.forEach((cp,c) => {
                        cp.tps = cp.tps.length > 0 ? cp.tps : []
                        cp.compentencies = cp.tps.length > 0 ? _.groupBy(cp.tps, 'kompetensi') : []
                        tps.value.push(cp)
                    })
                })
}

const onCpSelected = (e) => {
    selectedCp.value = cps.value.find(item => item.kode == formTp.value.cp_id)
}

const onMineChecked = (e) => {
    init()
}

const addTp = (cp) => {
    // const index = cps.value.findIndex(c => c.kode == cp.kode)
    // cps.value[index].tps.push({
    //     cp_id: cp.kode,
    //     fase: cps.value[index].fase,
    //     kompetensi: '',
    //     materi: '',
    //     teks: '',
    //     guru_id: mine.value ? page.props.user.guru.nip : null
    // })
    
}

const addKompetensi = (e,c,t) => {
    let content = e.target.innerText
    cps.value[c].tps[t].kompetensi = content
}
const addMateri = (e,c,t) => {
    let content = e.target.innerText
    cps.value[c].tps[t].materi = content
}
const addTujuan = (e,c,t) => {
    let content = e.target.innerText
    cps.value[c].tps[t].teks = content
}

const duplicateTp = (e,c,t) => {
    let tr = e.target.closest("tr")
    let tds = tr.querySelectorAll("td")
    let empty = {
        cp_id: cps.value[c].kode,
        fase: cps.value[c].fase,
        kompetensi: tds[0].innerText,
        materi: tds[1].innerText, 
        teks: ''}
    cps.value[c].tps.splice((t+1),0,empty)
}

const onTujuanKeyPressed = (e,c,t) => {
    
    if(e.key == 'Enter') {
        e.preventDefault()
        addTujuan(e,c,t)
        duplicateTp(e,c,t)
    }
}

const simpanTp = async(cp) => {
    await axios.post(route('tp.store', {mine: mine.value}), {cp: cp})
            .then(res => {
                ElNotification({title: "Info", message: "Tujuan Pembelajaran disimpan"})
                init()
            }).catch(err => {
                ElNotification({title: "Error", message: err.response.msg})
                console.log(err)
            })
}
// Hapus

const hapusTp = async(tp, c,t) => {
    if(!tp.id) {
        cps.value[c].tps.splice(t,1)
    } else {
        await axios.delete(route('tp.destroy', {id: tp.id}))
                .then(res => {
                    ElNotification({title: 'Info', message: 'TP dihapus'})
                    init()
                }).catch(err => {
                    ElNotification({title: "Error", message: err.response.msg})
                    console.log(err)
                })
    }
}
// Cetak 

const cetak = () => {
    let cssLink = (page.props.app_env == 'local') ? 'http://localhost:5173/resources/css/app.css' : '/build/assets/app.css'
    let trs = '';

    for (let c=0; c < cps.value.length; c++ ) {
        for (let t=0; t < cps.value[c].tps.length; t++)
        {
            trs += `
                <tr>
                    ${(c+t==c) ? '<td class="border border-black p-2" rowspan="'+cps.value[c].tps.length+'"> '+cps.value[c].elemen+'</td>' : ''}
                    ${(c+t==c) ? '<td class="border border-black p-2" rowspan="'+cps.value[c].tps.length+'"> '+cps.value[c].teks+'</td>' : ''}
                    <td class="border border-black p-1">${cps.value[c].tps[t].kode}. ${cps.value[c].tps[t].teks}</td>
                </tr>
            `
        }
    }
    
    let html = `
        <!doctype html>
        <html>
            <head>
                <title>Tujuan Pembelajaran</title> 
                <link rel="stylesheet" href="${cssLink}" type="text/css" />   
            </head>
            <body>
                <h3 class="text-center text-xl uppercase font-bold">Rumusan Tujuan Pembelajaran</h3>
                <h3 class="text-center text-xl uppercase font-bold">Fase ${props.rombel.fase}</h3>

                <table>
                    <tr>
                        <td>Satuan Pendidikan</td><td>:</td><td>${page.props.sekolahs[0].name}</td>
                    </tr>    
                    <tr>
                        <td>Penyusun</td><td>:</td><td>${page.props.user.guru.fullname}</td>
                    </tr>    
                </table>

                <table class="w-full">
                    <thead>
                        <tr>
                            <th class="border border-black p-2 w-[15%]">Elemen</th>    
                            <th class="border border-black p-2 w-[30%]">Capaian Pembelajaran</th>    
                            <th class="border border-black p-2 ">Tujuan Pembelajaran</th>    
                        </tr>    
                    </thead>
                    <tbody>
                        ${trs}  
                    </tbody>   
                </table>
            </body>
        </html>
    `

    let win = window.open("","_blank", "width=1024,height=800")

    win.document.write(html)

    setTimeout(() => {
        win.print()
        win.close()
    }, 600)
}

onBeforeMount(() => {
    init()
})
</script>

<template>
    <el-container>
        <el-row class="w-full bg-pink-200">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        <div class="toolbar flex items-center justify-between w-full">
                            <span class="text-xl font-bold text-slate-700 flex items-center gap-1 transition-all">
                                <Icon :icon="`mdi:${mode=='tp'? 'bullseye': 'timeline'}`" class="text-[2em] " />
                                {{ mode =='tp' ? '' : 'Alur' }}
                                Tujuan Pembelajaran Fase {{ props.rombel.fase }}
                            </span>
                            <div class="toolbar-items flex items-center gap-2">
                                <el-tooltip content="Rumuskan TP" placement="bottom-end" v-if="mode=='atp'">
                                    <el-button type="" @click="mode='tp'">
                                        <Icon icon="mdi:bullseye" />
                                        TP
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip content="Susun ATP" placement="bottom-end" v-if="mode=='tp'">
                                    <el-button type="" @click="mode='atp'">
                                        <Icon icon="mdi:timeline" />
                                        ATP
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip content="Cetak TP" placement="bottom-end" v-if="mode=='tp'">
                                    <el-button type="" @click="cetak">
                                        <Icon icon="mdi:printer" />
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip content="Cetak ATP" placement="bottom-end" v-if="mode=='atp'">
                                    <el-button type="" @click="cetak">
                                        <Icon icon="mdi:printer" />
                                    </el-button>
                                </el-tooltip>
                                <el-button circle type="danger" @click="emit('close')" class="bg-red-500">
                                    <Icon icon="mdi:close" />
                                </el-button>
                            </div>
                        </div>
                    </template>
                    <div class="card-body transition-all" v-if="mode=='tp'">
                        <el-row class="w-full bg-slate-100 p-4 rounded mb-4">
                            <el-col :xs="24" :sm="12">
                                
                                <el-checkbox v-model="mine" @change="onMineChecked($event)"><h4 class="font-semibold mb-2">Buat Sendiri?</h4></el-checkbox>
                            </el-col>
                            <el-col :xs="24" :sm="12">
                                <h4 class="font-semibold mb-2 ml-2">Progress</h4>
                                <el-progress :percentage="cps.reduce((a,c) => a + (c.tps.length > 0 ? 1 : 0),0)/5*100" striped :stroke-width="20" striped-flow :duration="60" :text-inside="true"></el-progress>
                            </el-col>
                        </el-row>
                        <el-collapse>
                            <el-collapse-item v-for="(cp,c) in tps" :key="c">
                                <template #title>
                                    <span class="text-lg font-bold text-slate-700">{{ cp.elemen }}</span>&nbsp;<span class="text-sky-600">[{{ cp.tps?.length }} TP]</span>
                                </template>
                                <div class="w-full ">
                                    <el-button-group>
                                        <el-tooltip content="Tambah Tujuan" placement="top-start">
                                                <el-button size="small" @click="addTp(cp)" type="success" class="bg-green-500">
                                                    <Icon icon="mdi:plus" />
                                                </el-button>
                                                
                                        </el-tooltip>
                                        <el-tooltip content="Simpan Tujuan" placement="top-start">
                                            <el-button size="small" @click="simpanTp(cp)" type="primary" class="bg-sky-500">
                                                <Icon icon="mdi:send" />
                                            </el-button>
                                        </el-tooltip>
                                    </el-button-group>
                                    <table class="w-full bg-slate-100 my-2">
                                        <tr>
                                            <th class="p-0 w-[50px] align-top text-lg">CP</th>
                                            <td class="align-top text-lg">:</td>
                                            <td class="pl-1 align-top text-lg">
                                                {{ cp.teks }}
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="w-full" v-if="cp.tps.length > 0">
                                        <thead>
                                            <tr>
                                                <th class="border border-slate-500">Kompetensi</th>
                                                <th class="border border-slate-500">Materi Esensial</th>
                                                <th class="border border-slate-500">Tujuan Pembelajaran</th>
                                                <th class="border border-slate-500">Opsi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-for="(tps, competency,cm) in cp.compentencies" :key="competency">
                                                <tr v-for="(tp, t) in tps" :key="t">
                                                    <td class="border border-black p-2" v-if="(cm+t===cm)" :rowspan="tps.length">{{ competency }}</td>
                                                    <td class="border border-black p-2">{{ tp.materi }}</td>
                                                    <td class="border border-black p-2">{{ tp.teks }}</td>
                                                </tr>
                                                <!-- {{ tps }} -->
                                            </template>
                                        </tbody>
                                    </table>

                                </div>
                            </el-collapse-item>
                        </el-collapse>
                        <!-- {{ tps }} -->
                    </div>
                    <div class="atp transition-all" v-if="mode=='atp'" >
                        <Atp :tps="cps.reduce((a,c) => [...a, ...c.tps],[])" />
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-container>
</template>