<script setup>
import { ref, computed, defineAsyncComponent } from 'vue';
import { usePage, router } from '@inertiajs/vue3'
// import {Menu as MenuIcon } from '@element-plus/icons-vue'
import { Icon } from '@iconify/vue';
import {SwitchButton, Avatar, Edit} from '@element-plus/icons-vue'

const page = usePage()
const props = defineProps({pageTitle: String})

const viewPort = computed(() => {
    if (window.matchMedia('(min-width: 1280px)').matches) {
        return 'xl';
    } else if (window.matchMedia('(min-width: 1024px)').matches) {
        return 'lg';
    } else if (window.matchMedia('(min-width: 768px)').matches) {
        return 'md';
    } else if (window.matchMedia('(min-width: 640px)').matches) {
        return 'sm';
    } else {
        return 'default';
    }
})

const SideMenu = defineAsyncComponent(() => import('@/Layouts/SideMenu.vue'))

const toggleMenu = () => {
    let aside = document.querySelector(".aside");
    let main = document.querySelector(".main-container")
    aside.classList.toggle("hidden")
    main.classList.toggle("w-full")
    main.classList.toggle("w-auto")
    // aside.classList.toggle("absolute")
}

const logout = () => {
    router.get('/logout');
}
</script>

<template>
<div class="common-layout h-screen print:h-auto print:overflow-visible">
    <el-container class="h-full">
        <el-aside class="aside hidden md:block transition-all bg-slate-50 shadow-lg w-[200px] z-40 h-screen print:hidden" width="250px">
            <SideMenu />
        </el-aside>
        <el-container class="w-full bg-pink-200 main-container">
            <el-header class="bg-slate-300 print:hidden">
                <div class="toolbar h-full flex items-center justify-between">
                    <div class="logo flex  items-center gap-1  h-full ">
                        <el-button text circle  >
                            <Icon icon="mdi:menu" class="h-6 w-6 " @click="toggleMenu" />
                        </el-button>
                        
                        <p>{{ props.pageTitle }}</p>
                    </div>
                    <div class="toolbar-items flex items-center gap-2">
                        <el-dropdown type="danger">
                            <span class="el-dropdown-link">
                                <el-avatar :icon="Avatar" />
                            </span>
                            <template #dropdown>
                                <el-dropdown-menu>
                                    <el-dropdown-item :icon="Edit" >Edit Profil</el-dropdown-item>
                                    <el-dropdown-item divided :icon="SwitchButton" @click="logout">Logout</el-dropdown-item>
                                </el-dropdown-menu>
                            </template>
                        </el-dropdown>
                    </div>
                </div>
            </el-header>
            <el-main class="bg-sky-50">
                <slot />
            </el-main>
        </el-container>
    </el-container>
</div>
</template>