<script setup>
import { ref, computed } from 'vue'
import { usePage, Link, router } from '@inertiajs/vue3'
import { Icon } from '@iconify/vue';

const page = usePage();

const menus = computed(() => page.props.menus)
const visit = (url) => {
    router.visit(url)
}

</script>

<template>
<div>
    <div class="user-info w-full bg-slate-200 pt-8 relative text-center">
        <el-image src="/img/guru-l.png" class="w-[50%]" />
        <h1 class="mt-4 p-2 bg-sky-300 font-bold uppercase text-slate-700 sm:text-xs">{{ page.props.user.guru ? page.props.user.guru.fullname : page.props.user.name }}</h1>
    </div>
    <el-scrollbar>
        <el-menu>
            <template v-for="(menu,m) in menus" :key="m">
                <el-menu-item  v-if="menu.children.length < 1" :index="m+'-'+1">
                    <template #title>
                        <Link :href="menu.url" class="w-full">
                            <el-icon>
                                <Icon :icon="`mdi:${menu.icon}`" />
                            </el-icon>
                            {{ menu.label }}
                        </Link>
                    </template>
                </el-menu-item>
                <el-sub-menu  :index="m.toString()" v-else>
                    <template #title>
                        <el-icon><Icon :icon="`mdi:${menu.icon}`" /></el-icon>{{ menu.label }}
                    </template>
                    <el-menu-item-group >
                        <el-menu-item v-for="(sub, s) in menu.children" :key="(m+1)+'-'+(s+1)" :index="(m+1)+'-'+(s+1)">
                            <template #title>
                                <Link :href="sub.url" class="w-full">
                                <el-icon><Icon :icon="`mdi:${sub.icon}`" /></el-icon> {{ sub.label }}
                                </Link>
                            </template>
                        </el-menu-item>
                        
                    </el-menu-item-group>
                </el-sub-menu>
            </template>
        </el-menu>
    </el-scrollbar>
</div>
</template>